@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h71ip4');
  src:  url('fonts/icomoon.eot?h71ip4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h71ip4') format('truetype'),
    url('fonts/icomoon.woff?h71ip4') format('woff'),
    url('fonts/icomoon.svg?h71ip4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-play-circle-o:before {
  content: "\f01d";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-sort-desc:before {
  content: "\f0dd";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-chevron-circle-up:before {
  content: "\f139";
}
