@import 'modules/colors';

// Global Styles

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.text-align-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

.margin-right-small {
  margin-right: 30px;
}

.margin-left-small {
  margin-left: 30px;
}

.cont40 {
  width: 40%;
  margin: auto;
}

.cont50 {
  width: 50%;
  margin: auto;
}

.cont70 {
  width: 70%;
  margin: auto;
}

.cont80 {
  width: 80%;
  margin: auto;
}

.cont85 {
  width: 85%;
  margin: auto;
}

.cont90 {
  width: 90%;
  margin: auto;
}

.flex-columns {
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
}

.column {
  flex: 1;
  display: flex;
}

.column-2 {
  flex: 2;
  display: flex;
}

.column-3 {
  flex: 3;
  display: flex;
}

.column-4 {
  flex: 4;
  display: flex;
}

.column-5 {
  flex: 5;
  display: flex;
}

.align-items-center {
  align-items: center!important;
}

.justify-content-center {
  justify-content: center!important;
}

.justify-content-right {
  justify-content: flex-end!important;
}

.margin-left {
  margin-left: 100px;
}

.margin-right-big {
  margin-right: 60px;
}

.img-full {
  width: 100%!important;
  height: auto!important;
}

body {
  margin: 0;
  font-family: 'Roboto', helvetica, sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

input[type=checkbox].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label, input[type=checkbox].css-checkbox + label.css-label.clr {
	padding-left:30px;
	height:24px;
	display:inline-block;
	line-height:26px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
  position: relative;
}

input[type=checkbox].css-checkbox:checked + label.css-label, input[type=checkbox].css-checkbox + label.css-label.chk {
	background-position: 0 -24px;
}
label.css-label {
  background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_bdcdf25666bdebec15c92db23f576eb5.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cont-mobile {
  height: 150px;
}

.cont-tablet {
  height: 150px;
  padding: 15px 0;
}

.cont-mobile-big {
  height: 250px;
}

.desktop,
.dekstop-tablet {
  display: block!important;
}

.desktop-flex {
  display: flex!important;
}

.mobile,
.tablet {
  display: none!important;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.float-left {
  float: left;
}

.float-right {
  float: right;
}

#main-logo {
  width: 150px;
}

#main-content {
  overflow: hidden;
  margin: 0;
  margin-top: 72px;
  width: 100%;
  padding: 0;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}
#scrolltop {
  background-color: #00A8DD;
  border: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  i {
    font-size: 20px;
    display: inline-block;
  }
  &:hover {
    background-color: #406E9C;
  }
}
#get-in-touch {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 200;
  border: none;
  background-color: #00A8DD;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 12px 35px;
  border-top-left-radius: 5px;
  cursor: pointer;
  border-top-right-radius: 5px;
  &:hover {
    background-color: #406E9C;
  }
}
@media (max-width: 768px) {
  #main-content {
    margin-top: 57px!important;
  }
}
@media (max-width: 992px) {
  #main-content {
    margin-top: 125px;
  }
}
@media (min-width: 993px) {
  #main-content {
    margin-top: 72px;
  }
}
@media (max-width: 1400px) {
  #main-content {
    width: 100%;
  }
}
@media (min-width: 1401px) {
  #main-content {
    width: 1400px;
    margin: auto;
    margin-top: 72px;
  }
}

@media (max-width: 768px) {
  .columns {
    flex-direction: column!important;
  }
  .cont50, .cont70, .cont80, .cont85, .cont90 {
    width: 94%!important;
  }
  h1 {
    font-size: 28px!important;
  }
  .margin-right-small,
  .margin-left-small,
  .margin-left {
    margin-right: 0!important;
    margin-left: 0!important;
  }
  .mobile {
    display: block!important;
  }
  .desktop,
  .desktop-flex {
    display: none!important;
  }
}

@media (max-width: 992px) {
  .tablet {
    display: block!important;
  }
  .dekstop-tablet {
    display: none!important;
  }
}

@media (min-width: 768px) {
  .cont-mobile,
  .cont-mobile-big {
    display: none!important;
  }
}
