// HEADER
$header_backgroundcolor: #fff;
$header_border_bottom: #e7e7e7;
$header_anchor_color: #B5B5B5;
$header_anchor_hover_color: #666;
$header_anchor_hover_backgoundcolor: #EDEEF0;
$mobile_menu_color: #888;
$mobile_menu_border_color: #ddd;

// FOOTER
$footer_backgroundcolor: #EDEEF0;
$lower_footer_backgroundcolor: #A0A0A0;
$lower_footer_social_color: #A0A0A0;
$lower_footer_social_backgroundcolor: #fff;
$lower_footer_social_color_hover: #fff;
$lower_footer_social_backgroundcolor_hover: #00A8DD;

// CTAs
$cta_color: #fff;
$cta_backgroundcolor: #00A8DD;
$cta_backgroundcolor_hover: #3A3A3A;
