<template lang="html">
  <header>

    <div id="header-big" class="">
      <div class="header-big-left">
        <a href="/"><img src="http://contentz.mkt5510.com/lp/14182/95764/images/logo-wacom.png" alt="Wacom Logo Black" id="main-logo"></a>
      </div>
      <div class="header-big-right">
        <div id="normal-header">
          <nuxt-link
            v-for="(option, index) in $store.state.headerEs"
            v-show="option.lang == $store.state.lang && option.action == 'push'"
            @click="choose_menu(option.url)"
            :key="index"
            :class="option.url == active ? 'active' : ''"
            :to="option.url">{{option.title}}</nuxt-link>
            <span
              v-for="(option, index) in $store.state.headerEs"
              :key="index"
              v-show="option.action == 'scrollTo'"
              @click="clickScroll(option.page)"
              class="link">{{option.title}}</span>
          </div>
          <span
            @click="$store.commit('toggle_menu')"
            :class="$store.state.mobileMenu ? 'icon-remove' : 'icon-bars'"
            id="mobile-menu-icon">
          </span>
      </div>
    </div>

    <div id="mobile-header" @click="$store.commit('toggle_menu')" v-show="$store.state.mobileMenu">
      <nuxt-link
        v-for="(option, index) in $store.state.headerEs"
        v-show="option.lang == $store.state.lang && option.action == 'push'"
        :key="index"
        :class="option.status"
        :to="option.url">{{option.title}}</nuxt-link>
        <span
          v-for="(option, index) in $store.state.headerEs"
          :key="index"
          v-show="option.action == 'scrollTo'"
          @click="clickScroll(option.page)"
          class="link">{{option.title}}</span>
    </div>

  </header>
</template>

<script>
export default {
  data() {
    return {
      active: '/'
    };
  },
  methods: {
    choose_menu(url) {
      console.log(url);
    },
    scrollIntoView(eleID) {
       var e = document.getElementById(eleID);
       if (!!e && e.scrollIntoView) {
           e.scrollIntoView();
       }
    },
    clickScroll(eleID) {
      window.scroll({
        top: 100000,
        left: 0,
        behavior: 'smooth'
      });
    },
  }
};
</script>

<style lang="scss">

  @import '~/assets/sass/modules/_colors.scss';

  %menu-item-active {
    background-color: $header_anchor_hover_backgoundcolor;
    color: $header_anchor_hover_color;
  }

  header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $header_backgroundcolor;
    border-bottom:1px solid $header_border_bottom;
    z-index: 20;
    #header-big {
      display: flex;
      .header-big-left {
        flex: 2;
        #main-logo {
          display: inline-block;
          margin: 22px 0 16px 20px;
        }
      }
      .header-big-right {
        flex: 8;
        text-align: right;
        a, .link {
          padding: 34px 15px 20px 15px;
          text-transform: uppercase;
          color: $header_anchor_color;
          font-weight: 300;
          &:hover {
            @extend %menu-item-active;
          }
        }
        a.active {
          @extend %menu-item-active;
        }
        .link {
          cursor: pointer;
        }
        #mobile-menu-icon {
          display: none;
          color: $mobile_menu_color;
          font-size: 22px;
          padding: 5px 12px;
          border: 1px solid $mobile_menu_border_color;
          border-radius: 4px;
          margin-right: 20px;
          margin-top: 10px;
          cursor: pointer;
          &:hover {
            background-color: $mobile_menu_border_color;
          }
        }
      }
    }
    #mobile-header {
      position: fixed;
      left: 0;
      width: 100%;
      background-color: #fff;
      top: 55px;
      border-bottom: 1px solid $header_border_bottom;
      a, span {
        cursor: pointer;
        display: block;
        color: $mobile_menu_color;
        font-size: 12px;
        text-transform: uppercase;
        padding: 8px 0 8px 20px;
        font-weight: 300;
        &:hover {
          color: $header_anchor_hover_color;
          background-color: $header_border_bottom;
        }
      }
      a.active, span.active {
        color: $header_anchor_hover_color;
        background-color: $header_border_bottom;
      }
    }
  }

  @media (max-width: 768px) {
    #header-big {
      flex-direction: row!important;
      .header-big-left {
        text-align: left!important;
        #main-logo {
          text-align: left;
        }
      }
      #normal-header {
        display: none;
      }
      #mobile-menu-icon {
        display: inline-block!important;
      }
      #main-logo {
        width: 110px;
        margin-top: 19px!important;
        margin-bottom: 11px!important;
        margin-left: 20px!important;
      }
    }
  }

  @media (max-width: 992px) {
    #header-big {
      flex-direction: column;
      .header-big-left,
      .header-big-right {
        flex: 1!important;
        text-align: center;
      }
      #normal-header {
        text-align: center!important;
        a, .link {
          padding: 20px 15px 18px 15px!important;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .header-big-right {
      a, .link {
        font-size: 12px;
      }
    }
  }

  @media (max-width: 1400px) {
    #header-big {
      width: 100%;
    }
  }

  @media (min-width: 1401px) {
    #header-big {
      width: 1400px;
      margin: auto;
    }
  }

</style>
