<template lang="html">
  <div class="img-card">
    <div class="img-hover">
      <a :href="catUrl" target="_blank">
        <img :src="img" :alt="imgAlt" class="img-full">
        <div class="img-hover-overlay">
          <i class="icon-play-circle-o"></i>
        </div>
      </a>
    </div>

    <p>{{copy}}</p>
    <a :href="catUrl" v-show="ctaTitle != ''" class="anchor">{{ctaTitle}} <i class="icon-angle-right"></i></a>
  </div>
</template>

<script>
export default {
  props: ['img', 'imgAlt', 'copy', 'ctaTitle', 'catUrl'],
};
</script>

<style lang="scss">
  .img-card {
    p {
      font-weight: 300;
    }
    a.anchor {
      width: auto;
      color: #00A8DD;
      background-color: transparent;
      font-size: 15px;
      font-weight: 300;
      padding-left: 0;
      text-decoration: none;
      position: relative;
      cursor: pointer;
      i {
        display: inline-block;
        font-size: 20px;
        position: relative;
        top: 2px;
        padding: 0 6px 1px 7px;
        border-radius: 50%;
        border: 1px solid #00A8DD;
      }
    }
    .img-hover {
      position: relative;
      cursor: pointer;
      &:hover {
        .img-hover-overlay {
          display: flex;
        }
      }
    }
    .img-hover-overlay {
      display: none;
      position: absolute;
      z-index: 5;
      background-color: rgba(0,0,0,0.6);
      width: 100%;
      height: 99%;
      top: 0;
      left: 0;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      i {
        color: #fff;
        display: inline-block;
        font-size: 60px;
      }
    }
  }
</style>
