<template lang="html">
  <div class="container columns align-items-center justify-content-center" :id="uniqueId">
    <div class="column align-items-center" v-show="imgPosition == 'left'">
      <img :src="img" :alt="imgAlt" :style="imgSize == 'full' ? 'width:100%;height:auto;' : ''">
    </div>
    <div class="column align-items-center" v-show="imgPosition == 'left'">
      <TextCardNuxtLink
        :title="title"
        :copy="copy"
        :ctaTitle="ctaTitle"
        :ctaUrl="ctaUrl"
        :uniqueId="textCardUniqueId"
        :p1="p1"
        :p2="p2"
        :p3="p3" />
    </div>
    <div class="column-3 align-items-center justify-content-center" v-show="imgPosition == 'right'">
      <TextCardNuxtLink
        :title="title"
        :copy="copy"
        :ctaTitle="ctaTitle"
        :ctaUrl="ctaUrl"
        :uniqueId="textCardUniqueId"
        :p1="p1"
        :p2="p2"
        :p3="p3" />
    </div>
    <div class="column-2 align-items-center justify-content-center" v-show="imgPosition == 'right'">
      <img :src="img" :alt="imgAlt" :style="imgSize == 'full' ? 'width:100%!important;height:auto!important;' : ''">
    </div>
  </div>
</template>

<script>

import TextCardNuxtLink from '~/components/Elements/TextCardNuxtLink.vue';

export default {
  props: ['imgPosition', 'imgAsBackground', 'img', 'imgSize', 'imgAlt', 'title', 'copy', 'ctaTitle', 'ctaUrl', 'uniqueId', 'textCardUniqueId', 'p1', 'p2', 'p3'],
  components: {
    TextCardNuxtLink,
  },
};
</script>

<style lang="scss">
</style>
