<template lang="html">
  <div class="testimony">
    <p>{{testimony}}</p>
    <span v-show="author">– {{author}}, {{position}}, <br /> {{work}}</span>
    <a class="icon-play-circle-o" :href="video" v-show="video != ''"></a>
  </div>
</template>

<script>
export default {
  props: ['testimony', 'author', 'position', 'work', 'video', 'uniqueId'],
}
</script>

<style lang="scss">
  .testimony {
    p {
      font-family: "Roboto", "Helvetica", Arial, sans-serif;
      font-style: inherit;
      font-weight: 100!important;
      line-height: 1.3;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 24px;
    }
    span {
      display: block;
      font-weight: 700;
      line-height: 1.8;
    }
    a {
      display: inline-block;
      font-size: 60px;
      color: #000;
      margin-top: 15px;
      cursor: pointer;
      transition: background 0.3s ease-in-out;
      &:hover {
        color: #00A8DD;
      }
    }
  }
</style>
