<template lang="html">
  <div class="text-card" :id="uniqueId">
    <h1>{{title}}</h1>
    <p>{{copy}}</p>
    <p class="copy-paragraphs" v-show="p1">{{p1}}</p>
    <p class="copy-paragraphs" v-show="p2">{{p2}}</p>
    <p class="copy-paragraphs" v-show="p3">{{p3}}</p>
    <nuxt-link v-show="ctaTitle != ''" :to="ctaUrl">{{ctaTitle}} <i class="icon-angle-right"></i></nuxt-link>
  </div>
</template>

<script>
export default {
  props: ['title', 'copy', 'ctaTitle', 'ctaUrl', 'uniqueId', 'p1', 'p2', 'p3'],
}
</script>

<style lang="scss">
  .text-card {
    h1 {
      font-weight: 300;
      font-size: 36px;
      color: #333;
      line-height: 1.2em;
      font-family: "Roboto", "Helvetica", Arial, sans-serif;
      font-style: inherit;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 15px;
    }
    p {
      font-family: "Helvetica", Arial, sans-Serif;
      font-size: 16px;
      line-height: 1.7em;
      font-weight: 300;
      color: black;
      margin: 10px 0;
      letter-spacing: 0.2px;
    }
    a {
      width: auto;
      color: #00A8DD;
      background-color: transparent;
      font-size: 18px;
      font-weight: 300;
      padding-left: 0;
      text-decoration: none;
      position: relative;
      cursor: pointer;
      i {
        display: inline-block;
        font-size: 20px;
        position: relative;
        top: 2px;
        padding: 0 6px 1px 7px;
        border-radius: 50%;
        border: 1px solid #00A8DD;
      }
    }
    .copy-paragraphs {
      margin-bottom: 20px;
    }
  }
</style>
