<template lang="html">
  <div class="resource-card-video">
    <div class="img-hover">
      <img :src="img" alt="">
      <div class="img-hover-overlay">
        <i class="icon-play-circle-o"></i>
      </div>
    </div>
    <h4>{{title}}</h4>
    <span>{{subt_title}}</span>
  </div>
</template>

<script>
export default {
  props: ['img', 'title', 'subt_title'],
};
</script>

<style lang="scss">
</style>
