<template lang="html">
  <div id="inner-footer">

    <!-- FOOTER MAIN CONTENT -->
    <footer>

      <!-- TITLE SECTION -->
      <div
        v-for="(footer, index) in $store.state.footerPt.header"
        :key="index"
        class="footer-header">
        <h1>{{footer.title}}</h1>
        <p>{{footer.sub_title}}</p>
      </div>

      <!-- FORM -->
      <div class="container">
        <form class="" action="" method="post">

          <!-- CHECKBOXES -->
          <div class="checkboxes">
            <div v-for="(checkbox, index) in $store.state.footerPt.form.inputs[0].options" :key="index" :class="[isActive ? 'red checkbox' : 'blue checkbox']" @click="toggleClass()">
              <input type="checkbox" name="checkboxG1" :id="'checkbox' + index" class="css-checkbox" />
          		<label :for="'checkbox' + index" class="css-label radGroup1">{{checkbox.label}}</label>
            </div>
          </div>

          <!-- INPUTS -->
          <div class="other-inputs">

            <!-- LEFT INPUTS -->
            <div class="left-inputs">

              <!-- TEXT & EMAIL INPUTS -->
              <input required v-for="(input, index) in $store.state.footerPt.form.leftInputs" :key="index" :type="input.type" :name="input.name" :placeholder="input.placeholder" v-show="input.type == 'text' || input.type == 'email'">

              <!-- SELECT INPUTS -->
              <div class="select-style" v-for="(input, index) in $store.state.footerPt.form.leftInputs" :key="index" v-show="input.type == 'select'">
                <span class="icon-sort-desc"></span>
                <select required>
                  <option selected disabled>{{input.placeholder}}</option>
                  <option v-for="(option, index2) in input.options" :value="option" :key="index2">{{option}}</option>
                </select>
              </div>

            </div>

            <!-- RIGHT INPUTS -->
            <div class="right-inputs">

              <!-- TEXT & EMAIL INPUTS -->
              <input required v-for="(input, index3) in $store.state.footerPt.form.rightInputs" :key="index3" :type="input.type" :name="input.name" :placeholder="input.placeholder" v-show="input.type == 'text' || input.type == 'email'">

              <!-- SELECT INPUTS -->
              <div class="select-style" v-for="(input, index) in $store.state.footerPt.form.rightInputs" :key="index" v-show="input.type == 'select'">
                <span class="icon-sort-desc"></span>
                <select required>
                  <option selected disabled>{{input.placeholder}}</option>
                  <option v-for="(option, index2) in input.options" :value="option" :key="index2">{{option}}</option>
                </select>
              </div>

            </div>

          </div>

          <input type="submit" class="cta" value="Enviar">

        </form>
      </div>
      <!-- END FORM -->

    </footer>
    <!-- END FOOTER MAIN CONTENT -->

    <!-- LOWER FOOTER -->
    <div id="lower-footer">
      <div class="cont80">


        <div class="lower-footer-container">

          <!-- LEGAL -->
          <div class="footer-legal">
            <img src="~/static/img/Logo_white.png" alt="">
            <p>© 2018 Wacom Co., Ltd. Todos os direitos reservados. Todos os outros nomes de empresas e produtos <br> Eles são marcas comerciais ou marcas registradas de seus respectivos proprietários.</p>
          </div>

          <!-- SOCIAL -->
          <div class="footer-social">
            <a target="_blank" href="https://www.facebook.com/WacomBrasil/"><span class="icon-facebook"></span></a>
            <a target="_blank" href="https://twitter.com/wacombrasil"><span class="icon-twitter"></span></a>
            <a target="_blank" href="https://plus.google.com/"><span class="icon-google-plus"></span></a>
          </div>

        </div>

      </div>
    </div>
    <!-- END LOWER FOOTER -->

  </div>
</template>

<script>
export default {
  data() {
    return {
      isActive: true
    }
  },
  methods: {
    toggleClass: function(event){
       // Check value
       if(this.isActive){
         this.isActive = false;
       }else{
         this.isActive = true;
       }

    }
  }
}
</script>

<style lang="scss">

  @import '~/assets/sass/modules/_colors.scss';

  #inner-footer {
    width: 100%;
    background-color: $footer_backgroundcolor;
    footer {
      text-align: center;
      padding: 30px 0;
      h1 {
        font-weight: 300;
        color: #333;
      }
      p {
        color: #333;
        font-weight: 400;
      }
      .checkboxes {
        display: flex;
        align-items: center;
        text-align: left;
        margin-bottom: 30px;
        .checkbox {
          flex: auto;
          flex-wrap: wrap;
          background-color: #A0A0A0;
          margin: 0 5px;
          padding: 15px 12px;
          border-radius: 4px;
          transition: background 0.2s ease-in-out;
          color: #fff;
          font-weight: 300;
          cursor: pointer;
          &:hover {
            background-color: #333;
          }
        }
      }
      .other-inputs {
        display: flex;
        margin-bottom: 30px;
        .left-inputs, .right-inputs {
          flex: 1;
          display: flex;
          flex-direction: column;
          input[type="text"],
          input[type="email"] {
            flex: 1;
            margin: 0 5px;
            border: none;
            padding: 20px 0;
            text-indent: 25px;
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 10px;
            color: #000;
          }
          .select-style {
            background-color: #fff;
            overflow: hidden;
            width: 97.5%;
            position: relative;
            height: 57px;
            left: 4px;
            text-indent: 25px;
            line-height: 57px;
            margin-bottom: 10px;
            .icon-sort-desc {
              position: absolute;
              right: 20px;
              top: 13px;
              font-size: 22px;
              color: #808080;
            }
          }
          .select-style select {
            width: 130%;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;
            font-size: 14px;
            font-family: 'Roboto', helvetica, sans-serif;
            font-weight: 300;
            color: #808080;
          }
          .select-style select:focus {
            outline: none;
          }
          ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #C7C7C7;
          }
          ::-moz-placeholder { /* Firefox 19+ */
            color: #C7C7C7;
          }
          :-ms-input-placeholder { /* IE 10+ */
            color: #C7C7C7;
          }
          :-moz-placeholder { /* Firefox 18- */
            color: #C7C7C7;
          }
        }
      }
      .cta {
        color: $cta_color;
        background-color: $cta_backgroundcolor;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        padding: 13px 30px;
        font-size: 20px;
        font-weight: 300;
        transition: background 0.2s ease-in-out;
        &:hover {
          background-color: $cta_backgroundcolor_hover;
        }
      }
    }
    #lower-footer {
      background-color: $lower_footer_backgroundcolor;
      padding: 25px 0;
      .lower-footer-container {
        display: flex;
        margin: 0;
        width: 100%;
        .footer-legal {
          flex: 4;
          img {
            display: inline-block;
            margin-bottom: 10px;
          }
          p {
            font-size: 12px;
            color: #fff;
            font-weight: 300;
            margin: 0;
            line-height: 16px;
          }
        }
        .footer-social {
          text-align: right;
          a {
            font-size: 22px;
            flex: 1;
            display: inline-block;
            margin: 15px 5px 0 5px;
            border-radius: 50%;
            color: $lower_footer_backgroundcolor;
            background-color: $lower_footer_social_backgroundcolor;
            transition: background 0.2s ease-in-out;
            &:hover {
              color: $lower_footer_social_color_hover;
              background-color: $lower_footer_social_backgroundcolor_hover;
            }
            .icon-facebook {
              padding: 10px 15px!important;
            }
            .icon-twitter {
              padding: 10px 11px!important;
            }
            .icon-google-plus {
              padding: 10px 7px!important;
            }
            .icon-facebook, .icon-twitter, .icon-google-plus {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    footer {
      width: 100%;
    }
    .checkboxes {
      flex-direction: column;
      .checkbox {
        flex: 1;
        margin-bottom: 10px!important;
        width: 90%!important;
      }
    }
    .other-inputs {
      flex-direction: column;
      width: 95%;
      margin: auto;
    }
    .lower-footer-container {
      flex-direction: column;
      text-align: center!important;
      .footer-social {
        text-align: center!important;
      }
    }
  }

  @media (min-width: 769px) {
    footer {
      width: 760px;
      margin: auto;
    }
  }

  @media (max-width: 1400px) {
    .lower-footer-container {
      width: 100%;
    }
  }

  @media (min-width: 1401px) {
    .lower-footer-container {
      width: 1400px;
      margin: auto;
    }
  }

</style>
