<template lang="html">
  <div class="container">


    <!-- SECTION 1 -->
    <section id="education-section-1">
      <div class="tablet cont-tablet">
        <img src="http://contentz.mkt5510.com/lp/14182/95764/images/benefits-intro-img.png" id="education-section-1-img" alt="Wacom Tablet">
      </div>
      <div class="cont90">
        <div class="columns container">
          <div class="column-4 align-items-center justify-content-center dekstop-tablet" id="edu-tablet-1">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/benefits-intro-img.png" id="education-wacom-tablet" alt="Wacom Tablet">
          </div>
          <div class="column-3 align-items-center justify-content-center">
            <TextCard
              title="Dé a sus estudiantes las herramientas adecuadas para liberar su potencial creativo"
              copy=""
              p1="Las pen tablets, computadoras interactivas y monitores interactivos llevan la auto expresión a un nuevo nivel de uniformidad, eficiencia y vitalidad creativa. La tecnología sensible a la presión no busca reemplazar los fundamentos del arte y diseño, ampliamente comprobados, sino que está diseñada para ayudar a los estudiantes a extender sus habilidades aún más."
              p2="Al combinar la sensación de uso de los medios tradicionales con las ventajas de un flujo de trabajo digital, los productos Wacom responden con más exactitud.  El soporte de inclinación natural hace del lápiz una extensión de la mano, sin efecto Parallax y prácticamente sin retrasos. Los atajos programables ofrecen acceso rápido a los comandos de uso más frecuente. Las pantallas de alta definición permiten que los estudiantes profundicen los detalles de aquello que estén pintando, esculpiendo o animando."
              ctaTitle=""
              ctaUrl=""
              uniqueId="text-card-first-fold" />
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 1 -->

    <!-- SECTION 2 -->
    <section id="education-section-2">
      <div class="cont90">
        <div class="columns container">
          <div class="column align-items-center mobile">
            <img src="~/static/img/Quote_Video_ES.png" alt="Art Wacom" id="education-section-2-img" class="img-full">
          </div>
          <div class="column-3 align-items-center margin-right-small">
            <Testimony
              testimony="“Nuestro compromiso es poder ofrecerles a nuestros alumnos la tecnología que está allá afuera y que es muy interesante y muy importante para que el día de mañana no empiecen de cero, tengan conocimiento de lo que existe y, sobre todo, ellos puedan demostrar lo que pueden hacer con este tipo de herramientas.”"
              author="Fernando Gutierrez"
              position="Decano de la Escuela de Humanidades"
              work="Tec de Monterrey"
              video="https://www.youtube.com/embed/Q57G1iydFuk"
              uniqueId="testimony-welcome" />
          </div>
          <div class="column align-items-center desktop">
            <img src="~/static/img/Quote_Video_ES.png" alt="Art Wacom" class="img-full">
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 2 -->

    <!-- SECTION 3 -->
    <section id="education-section-3">

      <!-- ABOVE SECTION -->
      <div class="container">
        <div class="cont90">
          <div class="container columns">
            <div class="column mobile" id="education-section-3-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/benefits-jumpstart-img.png" alt="Wacom Tablets" class="img-full">
            </div>
            <div class="column margin-right-small">
              <TextCard
                title="Impulse las carreras de sus estudiantes "
                copy=""
                p1="Wacom se enfoca exclusivamente en el desarrollo de soluciones que ayuden a hacer del mundo un lugar más creativo. Es por eso que las agencias y estudios líderes han confiado en la tecnología por más de 30 años para crear trabajos asombrosos y premiados.  Estos son los empleadores que contratan graduados de programas como los suyos, esperando que sus nuevos empleados sean flexibles, eficientes y capaces de contribuir desde el primer día en el puesto."
                p2="Al capacitar a sus estudiantes con las herramientas en las que confían los principales profesionales creativos de hoy, usted los prepara para ingresar al mercado de trabajo un paso al frente, con portafolios que ganan empleos y las habilidades necesarias para competir con éxito en el mundo real."
                ctaTitle=""
                ctaUrl=""
                uniqueId="text-card-first-fold" />
            </div>
            <div class="column desktop">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/benefits-jumpstart-img.png" alt="Wacom Tablets" class="img-full">
            </div>
          </div>
        </div>
      </div>
      <!-- END ABOVE SECTION -->

      <!-- SECTION BELOW -->
      <div class="container" id="education-section-3-below">
        <div class="cont90">
          <div class="container columns">

            <div class="column align-items-center justify-content-center" v-for="(imgCard, index) in img_cards" :key="index">
              <ImgCard
                :img="imgCard.img"
                :imgAlt="imgCard.imgAlt"
                :copy="imgCard.copy"
                :ctaTitle="imgCard.ctaTitle"
                :type="imgCard.type"
                :action_url="imgCard.action_url"
                :catUrl="imgCard.catUrl" />
            </div>

          </div>
        </div>
      </div>

    </section>
    <!-- END SECTION 3 -->

    <!-- SECTION 4 -->
    <section id="education-section-4">
      <div class="container">
        <div class="cont90">
          <div class="columns">
            <div class="column align-items-center" id="education-section-4-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/benefits-school-img.jpg" alt="Wacom Drawing">
            </div>
            <div class="column align-items-center">
              <TextCard
                title="Lleve su escuela a una posición destacada"
                copy=""
                p1="Los actuales estudiantes de arte y diseño representan la primera generación sin memoria de la vida antes de los teléfonos celulares y de la Internet. La mayoría depende de los medios digitales y de los dispositivos para aprender, trabajar y jugar en línea. Para inspirarlos en clase, es necesario impartir conocimientos de acuerdo con las herramientas que ellos conocen y los creativos líderes usan en casi todas las áreas profesionales."
                p2="Solidifique su reputación como institución creativa líder combinando técnicas clásicas con medios modernos para llevar su plan de estudios a la era digital.  Con herramientas Wacom en el campus, en el aula y en el laboratorio creativo, usted podrá atraer y retener los estudiantes más progresivos y ambiciosos que buscan escuelas que amplían sus fronteras e invierten en la tecnología más reciente."
                p3="Ringling College amplía las fronteras de la Ilustración"
                ctaTitle="Observe una excelente escuela en acción"
                ctaUrl="/video/url"
                uniqueId="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 4 -->

    <!-- SECTION 6 -->
    <section id="education-section-6">
      <div class="container">
        <div class="cont90">

          <div id="education-section-6-above">
            <div class="columns">
              <div class="column align-items-center justify-content-center mobile" id="education-section-6-img">
                <img src="~/static/img/White-papers.png" alt="White Papers Wacom">
              </div>
              <div class="column align-items-center justify-content-center margin-right-small">
                <TextCard
                  title="América Latina"
                  copy="La economía creativa, conocida también como economía naranja, se está expandiendo en todo el mundo. Latinoamérica cuenta con una herencia cultural importante y un gran impulso creativo, reconocido mundialmente, lo cual la coloca en posición ideal para participar activamente en esta nueva relación entre las más diversas manifestaciones creativas y economía."
                  ctaTitle="Lea el documento"
                  ctaUrl=""
                  uniqueId="" />
              </div>
              <div class="column align-items-center justify-content-center desktop">
                <img src="~/static/img/White-papers.png" alt="White Papers Wacom">
              </div>
            </div>
          </div>

          <div id="education-section-6-below">
            <div class="columns">
              <div class="column align-items-center justify-content-center" id="education-section-6-img-2">
                <img src="~/static/img/WacomStudio-NoMouse.png" alt="White Papers Wacom">
              </div>
              <div class="column-2 align-items-center justify-content-center margin-right-small">
                <Testimony
                  testimony="“Nuestro compromiso es poder ofrecerles a nuestros alumnos la tecnología que está allá afuera y que es muy interesante y muy importante para que el día de mañana no empiecen de cero, tengan conocimiento de lo que existe y, sobre todo, ellos puedan demostrar lo que pueden hacer con este tipo de herramientas.”"
                  author=""
                  position=""
                  work=""
                  video=""
                  uniqueId="testimony-welcome" />
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- END SECTION 6 -->

    <!-- SECTION 5 -->
    <section id="education-section-5">
      <div class="cont70">
        <TextCard
          title="Your creative partner"
          copy="For more than three decades, the world's creative professionals have turned to Wacom to push the limits of digital art and design. So it's no surprise that the top art and design schools around trust Wacom products to prepare the next generation of talent for careers that will change the world. From ground-breaking digital pen technology to touch displays that set a new standard in resolution and color, Wacom understands the full creative workflow. Investing in Wacom means having a team dedicated to helping you find the most cost-effective solution for your school and being there for your staff with hands-on support. It also means opening the doors to a community of the most renowned creatives to inspire your students. Training students on tools the top creatives use."
          ctaTitle="Download the brochure"
          ctaUrl=""
          uniqueId="your-creative-partner" />
      </div>
    </section>
    <!-- END SECTION 5 -->

  </div>
</template>

<script>

import TextCard from '~/components/Elements/TextCard.vue';
import Testimony from '~/components/Elements/Testimony.vue';
import ImgCard from '~/components/Elements/ImgCard.vue';

export default {
  layout: 'es',
  data() {
    return {
        img_cards: [
          {
            "img": "http://contentz.mkt5510.com/lp/14182/95764/images/school-asset-1.png",
            "imgAlt": "Las escuelas de California desarrollan un programa educativo renombrado",
            "copy": "Las escuelas de California desarrollan un programa educativo renombrado",
            "ctaTitle": "Vea el video",
            "type": "video",
            "action_url": "GltD2Sud4kM",
            "catUrl": ""
          },
          {
            "img": "http://contentz.mkt5510.com/lp/14182/95764/images/school-asset-2.png",
            "imgAlt": "Animadores líderes usan Wacom para innovar.",
            "copy": "Animadores líderes usan Wacom para innovar.	",
            "ctaTitle": "Descargue el e-book",
            "type": "download",
            "action_url": "",
            "catUrl": ""
          },
          {
            "img": "http://contentz.mkt5510.com/lp/14182/95764/images/school-asset-3.png",
            "imgAlt": "Los animadores de Nickelodeon enseñan habilidades realistas.",
            "copy": "Los animadores de Nickelodeon enseñan habilidades realistas.",
            "ctaTitle": "Vea el video",
            "type": "video",
            "action_url": "",
            "catUrl": ""
          },
          {
            "img": "http://contentz.mkt5510.com/lp/14182/95764/images/school-asset-4.png",
            "imgAlt": "Cómo construir modelos 3D con Wacom.",
            "copy": "Cómo construir modelos 3D con Wacom.",
            "ctaTitle": "Vea el video",
            "type": "video",
            "action_url": "",
            "catUrl": ""
          }
        ]
    };
  },
  components: {
    TextCard,
    Testimony,
    ImgCard,
  },
}
</script>

<style lang="scss">
 #education-section-1 {
   padding: 80px 0;
   background: white url("http://contentz.mkt5510.com/lp/14182/95764/images/benefits-intro-bg.jpg") no-repeat center/cover;
   #education-wacom-tablet {
     width: 60%;
     height: auto;
   }
   #education-section-1-img {
     width: 150px;
     height: 150px;
     margin: auto;
   }
   #edu-tablet-1 {
     display: flex;
     justify-content: flex-start!important;
     align-items: center!important;
   }
 }
 #education-section-2 {
   padding: 50px 0;
 }
 #education-section-3 {
   background-color: #EDEEF0;
   padding: 50px 0;
   #education-section-3-below {
     margin: 80px 0 20px 0;
     text-align: center!important;
     .column {
       margin: 0 30px;
     }
   }
   #education-section-3-img {
     text-align: center;
     img {
       width: 200px!important;
     }
   }
   .text-card p {
     font-size: 14px;
   }
 }
 #education-section-4 {
   padding: 80px 0;
 }
 #education-section-5 {
   text-align: center;
   margin: 20px 0 80px 0;
 }
#education-section-6 {
  background-color: #EDEEF0;
  padding: 50px 0;
  margin-bottom: 80px;
  #education-section-6-img {
    text-align: center;
    img {
      width: 200px;
    }
  }
}
@media (max-width: 992px) {
  .cont-mobile-big {
    text-align: center;
  }
  #education-section-1 {
    padding: 0!important;
    background: none;
    .cont-tablet {
      background: white url("http://contentz.mkt5510.com/lp/14182/95764/images/benefits-intro-bg.jpg") no-repeat left center/180%;
      margin-bottom: 20px;
      text-align: center;
    }
    p {
      font-size: 14px;
    }
  }
}
@media (max-width: 768px) {
  #education-section-2 {
    .column {
      text-align: center;
    }
    p {
      font-size: 18px;
    }
    span {
      font-size: 14px;
    }
    #education-section-2-img {
      width: 200px!important;
      height: 200px!important;
    }
  }
  #education-section-3 {
    padding: 30px 0;
    .img-card {
      margin-bottom: 40px;
      .img-hover {
        img {
          width: 150px!important;
          height: 150px!important;
        }
      }
      p {
        margin-bottom: 0;
      }
    }
  }
  #education-section-4 {
    padding: 30px 0;
    .text-card {
      p {
        font-size: 14px!important;
      }
    }
  }
  #education-section-4-img {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    img {
      width: 200px!important;
      height: 200px!important;
    }
  }
  #education-section-5 {
    margin-top: 50px;
    p {
      font-size: 14px;
    }
  }
  #education-section-6 {
    #education-section-6-above {
      margin-bottom: 40px;
    }
    #education-section-6-img-2 {
      text-align: center;
      img {
        width: 200px;
        height: 200px;
        margin-bottom: 30px;
      }
    }
  }
}
</style>
