<template>
  <div class="container">

    <!-- FIRST SECTION -->
    <section id="section-first">
      <div class="cont-mobile" id="cont-mobile-section-first"></div>
      <div class="cont80">
        <div class="columns container" id="">
          <div class="column-3">
            <TextCard
              title="Estimule la creatividad en el aula"
              copy="Estimule a sus estudiantes a explorar, experimentar y expresar su creatividad. Con la tecnología Wacom para la educación, usted puede expandir los horizontes creativos de sus estudiantes, mientras cultiva las habilidades de pensamiento crítico y solución de problemas que les serán útiles en la vida."
              ctaTitle=""
              ctaUrl=""
              uniqueId="text-card-first-fold" />
          </div>
          <div class="column-4"></div>
        </div>
      </div>
    </section>
    <!-- END FIRST SECTION -->

    <!-- SECOND SECTION -->
    <section id="section-second">

        <div class="cont-mobile" id="cont-mobile-section-second"></div>

        <!-- TOP SECTION -->
        <div class="container" id="pen-background-right">
          <div class="cont90">
            <div class="columns container" id="">
              <div class="column">
                <TextCardNuxtLink
                  title="Prepare a sus estudiantes para carreras exitosas"
                  copy=""
                  p1="Capacitar a los estudiantes con las herramientas digitales que usan los estudios y agencias líderes en la industria les brinda una ventaja competitiva invalorable. Es por eso que miles de universidades y escuelas de arte y diseño en todo el mundo confían en Wacom al preparar a sus graduados para desarrollar carreras exitosas en arte y diseño."
                  p2="Los productos Wacom dan a sus estudiantes la libertad de convertir sus pasiones creativas en realidad, construir portafolios de nivel internacional y desarrollar las habilidades realistas que los empleadores esperan."
                  ctaTitle="Explore Más"
                  ctaUrl="/es/beneficios-educativos"
                  uniqueId="text-card-second-section-welcome" />
              </div>
              <div class="column"></div>
            </div>
          </div>
        </div>


        <!-- BELOW SECTION -->
        <div class="container">
          <div class="cont90">
            <div class="columns" id="below-section-welcome-second">
              <div class="column align-items-center">
                <img src="http://contentz.mkt5510.com/lp/14182/95764/images/home-benefits-quote-img.png" alt="Person drawing with Wacom" id="person-drawing-with-wacom" class="img-full">
              </div>
              <div class="column-3 margin-left-small">
                <Testimony
                  testimony="“Cuando visitaba estudios, me daba cuenta de que sus artistas digitales utilizaban tecnología Wacom. Pensé que nuestros estudiantes deberían familiarizarse con esa tecnología ya desde el primer año, para que al graduarse tuviesen un dominio fluido y formase parte de su flujo de trabajo, hasta el punto de poder incorporarse a un estudio y ser eficiente desde el primer día.”"
                  author="Rafael Goldchain"
                  position="Coordinador de Fotografía Aplicada"
                  work="Sheridan College"
                  video=""
                  uniqueId="testimony-welcome" />
              </div>
            </div>
          </div>
        </div>

    </section>
    <!-- END SECOND SECTION -->

    <!-- SECTION 3 -->
    <section id="section-third">
      <div class="cont-mobile-big" id="cont-mobile-section-third"></div>
      <div class="cont90">
        <div class="container columns justify-content-center align-items-center">
          <div class="column">
            <TextCardNuxtLink
              title="La tecnología que se adapta bien"
              copy=""
              p1="Integrar nuevo hardware y software a su infraestructura existente no es tarea fácil. Los productos Wacom están diseñados para facilitar esa transición con configuración intuitiva y mantenimiento mínimo."
              p2="La compatibilidad con el hardware y los programas de software creativo más usados, la funcionalidad plug-and-play y la probada confiabilidad son los pilares de todos nuestros productos. Los controladores son fáciles de actualizar y mantener al día con acceso conveniente en nuestro sitio web. Además, nuestro personal de soporte tiene experiencia en brindar asistencia técnica a nuestros clientes del sector de educación y están siempre disponibles por teléfono, correo electrónico y chat."
              ctaTitle="Conózcala mejor"
              ctaUrl="/es/integracion-de-ti"
              uniqueId="text-card-second-section-welcome" />
          </div>
          <div class="column"></div>
        </div>
      </div>
    </section>
    <!-- END SECTION 3 -->

    <!-- SECTION 4 -->
    <section id="section-fourth">
      <div class="cont90">
        <RowImgTextCard
          imgPosition="left"
          imgAsBackground="no"
          img="http://contentz.mkt5510.com/lp/14182/95764/images/product-thm.png"
          imgSize="default"
          imgAlt="Wacom Tablet"
          title="Cree un campus de nivel internacional"
          copy=""
          p1="Con los productos Wacom en el campus, en el aula y en el laboratorio de computación, usted podrá atraer y retener los mejores estudiantes de la actualidad, nativos digitales que buscan expresarse naturalmente con tecnología de avanzada. "
          p2="Ya sea que estén interesados en animación, ilustración, diseño de juegos o en otras áreas creativas, con Wacom sus estudiantes pueden desarrollar todo su potencial creativo como nunca imaginaron que fuera posible. "
          ctaTitle="Encuentre su Wacom"
          ctaUrl="/es/productos"
          uniqueId="text-card-fourth-section-welcome"
          textCardUniqueId="" />
      </div>
    </section>
    <!-- END SECTION 4 -->

    <!-- SECTION 5 -->
    <section id="section-fifth">
      <div class="cont90">
        <div class="desktop">
          <RowImgTextCard
            imgPosition="right"
            imgAsBackground="no"
            img="http://contentz.mkt5510.com/lp/14182/95764/images/resources-img.jpg"
            imgSize="full"
            imgAlt="Biblioteca de recursos"
            title="Biblioteca de recursos"
            copy="Consulte nuestra colección de videos, e-books, casos de éxito y testimonios para conocer cómo Wacom ayuda a los artistas y diseñadores en todas partes para hacer del mundo un lugar más creativo."
            ctaTitle="Visite la biblioteca"
            ctaUrl="/es/recursos"
            uniqueId="text-card-fifth-section-welcome"
            textCardUniqueId="fifth-section-welcome-copy" />
        </div>
        <div class="mobile">
          <RowImgTextCard
            imgPosition="left"
            imgAsBackground="no"
            img="http://contentz.mkt5510.com/lp/14182/95764/images/resources-img.jpg"
            imgSize="full"
            imgAlt="Biblioteca de recursos"
            title="Biblioteca de recursos"
            copy="Consulte nuestra colección de videos, e-books, casos de éxito y testimonios para conocer cómo Wacom ayuda a los artistas y diseñadores en todas partes para hacer del mundo un lugar más creativo."
            ctaTitle="Visite la biblioteca"
            ctaUrl="/es/recursos"
            uniqueId="text-card-fifth-section-welcome"
            textCardUniqueId="fifth-section-welcome-copy" />
        </div>
      </div>
    </section>
    <!-- END SECTION 5 -->

  </div>
</template>

<script>

import TextCard from '~/components/Elements/TextCard.vue';
import TextCardNuxtLink from '~/components/Elements/TextCardNuxtLink.vue';
import Testimony from '~/components/Elements/Testimony.vue';
import RowImgTextCard from '~/components/Elements/RowImgTextCard.vue';

export default {
  layout: 'es',
  components: {
    TextCard,
    TextCardNuxtLink,
    Testimony,
    RowImgTextCard,
  },
  mounted() {
    //do something after mounting vue instance

  }
}
</script>

<style lang="scss">

  // First Section
  #section-first {
    width: 100%;
    padding: 170px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    #text-card-first-fold {
      h1 {
        font-size: 42px;
      }
    }
    #cont-mobile-section-first {
      background: white url("http://contentz.mkt5510.com/lp/14182/95764/images/hero-bg.jpg") no-repeat right center/150%;
    }
  }

  // Second Section
  #section-second {
    padding: 50px 0 90px 0;
    position: relative;
    width: 100%;
    display: block;
    background-color:#EDEEF0;
    margin: 0;
    #text-card-second-section-welcome {

    }
    #person-drawing-with-wacom {
      margin: auto;
    }
    #pen-background-right {
      margin-bottom: 60px;
      background-image: url("~/static/img/pen.png");
      background-repeat: no-repeat;
      background-position: right;
    }
    #below-section-welcome-second {
      justify-content: center;
      align-items: center;
    }
    #cont-mobile-section-second {
      background: #EDEEF0 url("http://contentz.mkt5510.com/lp/14182/95764/images/pen-img.png") no-repeat right top/auto 150px;
    }
  }

  // Third Section
  #section-third {
    padding: 100px 0 150px 0;
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/integration-bg.jpg");
    background-size: cover;
    background-position: center;
    #cont-mobile-section-third {
      height: 150px;
      background: white url("http://contentz.mkt5510.com/lp/14182/95764/images/integration-bg.jpg") no-repeat right center/80%;
    }
  }

  // Fourth Section
  #section-fourth {
      padding: 50px 0 80px 0;
  }

  // Section 5
  #section-fifth {
    padding: 50px 0 100px 0;
  }

  @media (max-width: 768px) {
    #section-first {
      padding: 0!important;
      background: none;
      .columns {
        padding: 10px 0;
      }
    }
    #section-second {
      padding: 0 0 20px 0!important;
      #pen-background-right {
        background: none;
      }
      .testimony {
        p {
          font-size: 18px;
        }
      }
    }
    #person-drawing-with-wacom {
      width: 250px!important;
      height: 250px!important;
      margin: auto;
    }
    #section-third {
      background: none;
      padding: 0!important;
      p {
        font-size: 14px;
      }
    }
    #section-fourth {
      padding-bottom: 0;
      img {
        width: 250px!important;
        height: 250px!important;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
      }
    }
    #section-fifth {
      img {
        width: 200px!important;
        height: 160px!important;
        margin-bottom: 20px;
      }
    }
  }

</style>
