<template lang="html">
  <div class="container">

    <!-- SECTION 1 -->
    <section id="it-section-1">
      <div class="tablet cont-tablet">
        <img src="http://contentz.mkt5510.com/lp/14182/95764/images/integration-intro-img.png" id="it-section-1-img" alt="Wacom Tablet">
      </div>
      <div class="cont90">
        <div class="columns container">
          <div class="column">
            <TextCard
              title="Integración fácil"
              copy=""
              p1="Nosotros creemos que la tecnología debe acelerar el aprendizaje. Es por eso que los productos Wacom están diseñados para interactuar fácilmente con su infraestructura existente, ya sea que usted ejecute sistemas operativos Mac, Windows o Linux. El resultado: no hay incómodos ajustes y el tiempo de inactividad es mínimo."
              p2="Nuestras funcionalidades de reconocimiento y sensibilidad a la presión del lápiz están integradas en los programas de software creativo más ampliamente usados por empresas como Adobe, Autodesk, Corel, Pixologic y Toon Boom. Al personal de TI le resultará fácil actualizar los controladores en todos sus dispositivos, y sus estudiantes tendrán acceso a nuevos niveles de creatividad y productividad usando herramientas más avanzadas."
              p3="En el diseño de interiores, la tecnología está en primer plano."
              ctaTitle="Vea el video"
              ctaUrl="https://www.youtube.com/watch?v=6p0A3GcCJzw"
              uniqueId="text-card-first-fold" />
          </div>
          <div class="column align-items-center justify-content-right dekstop-tablet" id="it-section-1-justify">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/integration-intro-img.png" id="it-wacom-tablet" alt="Wacom Tablet">
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 1 -->

    <!-- SECTION 2 -->
    <section id="it-section-2">
      <div class="container">
        <div class="cont90">
          <div class="columns container">
            <div class="column align-items-center justify-content-center" id="it-section-2-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/integration-built-to-last-img.png" alt="Wacom Tablet" class="img-full">
            </div>
            <div class="column align-items-center justify-content-center">
              <TextCard
                title="Construidos para durar "
                copy=""
                p1="Por más de tres décadas, Wacom ha sido la opción preferida de los profesionales creativos que necesitan tecnología probada para atender a su flujo de trabajo exigente. Su personal docente y sus estudiantes merecen el mismo nivel de durabilidad para poder contar con instrucción confiable e ininterrumpida."
                p2="Las pen tablets, computadoras interactivas y monitores interactivos de Wacom entregan lo que prometen. Están construidos para soportar el uso y desgaste que resulta del uso repetido, de la presión continua y de las interminables horas experimentando y rehaciendo. Eso significa menos tiempo ocupado con la tecnología y más tiempo dedicado al proceso creativo."
                p3="Los artistas gráficos ejercitan su licencia creativa con Wacom."
                ctaTitle="Vea el video"
                ctaUrl="https://www.youtube.com/watch?v=WzuXZr16Bbw"
                uniqueId="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 2 -->

    <!-- SECTION 3 -->
    <section id="it-section-3">
      <div class="container">
        <div class="cont90">
          <div class="columns" id="it-section-3-container-1">
            <div class="column align-items-center justify-content-center mobile" id="it-section-3-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/intetration-flexibility-img.png" alt="Wacom Pen" class="img-full">
            </div>
            <div class="column-3 align-items-center justify-content-center">
              <TextCard
                title="Flexibles y seguros"
                copy=""
                p1="Es probable que sus aulas tengan espacio de mesa limitado, o que su personal docente quiera cambiar los dispositivos de lugar, prestarlos a los estudiantes o usarlos en un espacio colaborativo. Los productos Wacom se pueden adaptar a una gran variedad de escenarios de enseñanza dinámicos, con selección de tamaños, funciones de movilidad y probada resistencia."
                p2="Los estudiantes pueden trabajar cómodamente y por periodos extendidos gracias al diseño ergonómico del lápiz, con dos botones programables convenientemente ubicados en el cuerpo curvado del lápiz, y una variedad de funciones adicionales, desde soportes ajustables hasta capacidades multitáctiles. Y para mantener los productos extra seguros en cualquier entorno, todos los productos pueden ser bloqueados; la mayoría tiene ranuras integradas para cerraduras Kensington."
                p3="5 consejos para actualizar su laboratorio creativo."
                ctaTitle="Descargue el e-book"
                ctaUrl="https://www.dropbox.com/s/e9rjrjau6spa335/Wacom_B2B_Uberflip_5Things_V2_WTC_ES_Screen.pdf?dl=0"
                uniqueId="it-section-3-text-1" />
            </div>
            <div class="column align-items-center justify-content-center desktop">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/intetration-flexibility-img.png" alt="Wacom Pen" class="img-full">
            </div>
          </div>
          <div class="columns" id="it-section-3-container-2">
            <div class="column align-items-center justify-content-center" id="it-section-3-img-2">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/integration-comprehensive-img.png" alt="Wacom Pen" class="img-full">
            </div>
            <div class="column-3 align-items-center justify-content-center">
              <TextCard
                title="Soporte integral"
                copy=""
                p1="Wacom respalda todos sus productos con soporte técnico de nivel internacional y servicio al cliente eficiente. Ya sea que necesite ayuda configurando productos y controladores, tutoriales que muestran cómo usar las funciones y los consejos sobre resolución de problemas, lo guiaremos a cada paso. Es solo comunicarse por teléfono, correo electrónico o chat."
                p2="En otras palabras, queremos asegurar que su inversión en nueva tecnología esté correctamente implementada para que su personal docente y sus estudiantes puedan aprovechar todo su potencial."
                ctaTitle=""
                ctaUrl=""
                uniqueId="it-section-3-text-2" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 3 -->

  </div>
</template>

<script>

import TextCard from '~/components/Elements/TextCard.vue';

export default {
  layout: 'es',
  components: {
    TextCard,
  },
};
</script>

<style lang="scss">
  #it-section-1 {
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/integration-intro-bg.jpg");
    background-size: cover;
    padding: 100px 0;
    #it-wacom-tablet {
      width: 60%;
      height: auto;
    }
    #it-section-1-img {
      width: 150px;
      height: 150px;
      margin: auto;
    }
    #it-section-1-justify {
      display: flex;
      justify-content: flex-end;
    }
  }
  #it-section-2 {
    background-color: #EDEEF0;
    padding: 80px 0;
  }
  #it-section-3 {
    #it-section-3-text-1 {
      margin-right: 70px;
    }
    #it-section-3-text-2 {
      margin-left: 70px;
    }
    .columns {
      margin: 80px 0;
    }
  }
  @media (max-width: 992px) {
    .cont-mobile-big {
      text-align: center;
    }
    #it-section-1 {
      margin-bottom: 50px;
      padding: 0!important;
      background: none;
      .cont-tablet {
        background: white url("http://contentz.mkt5510.com/lp/14182/95764/images/integration-intro-bg.jpg") no-repeat right center/180%;
        margin-bottom: 20px;
        text-align: center;
      }
      p {
        font-size: 14px;
      }
    }
    #it-section-2 {
      padding: 30px 0;
      p {
        font-size: 14px;
      }
    }
    #it-section-2-img {
      text-align: center!important;
      img {
        width: 200px!important;
      }
    }
    #it-section-3 {
      padding: 50px 0;
      p {
        font-size: 14px;
        line-height: 1.7em;
        font-weight: 300;
        color: black;
        margin: 10px 0;
      }
      #it-section-3-text-2 {
        margin-left: 0px;
        margin-top: 20px;
      }
      #it-section-3-container-1,
      #it-section-3-container-2 {
        margin: 0;
      }
      #it-section-3-container-1 {
        margin-bottom: 50px;
      }
    }
    #it-section-3-img,
    #it-section-3-img-2 {
      text-align: center!important;
      img {
        width: 200px!important;
      }
    }
  }
</style>
