<template lang="html">
  <div class="container">

    <!-- SECTION 1 -->
    <section id="products-section-1">
      <div class="cont-mobile" id="products-section-1-img"></div>
      <div class="cont90">
        <div class="columns container">
          <div class="column">
            <TextCard
              title="Tecnología para crear un campus de nivel internacional"
              copy="Destaque su escuela con las pen tablets, computadoras interactivas y monitores interactivos que usan los estudios, agencias y profesionales creativos. Con Wacom en el campus, usted podrá atraer y retener los mejores estudiantes, estimular nuevos niveles de creatividad y preparar a los aspirantes a graduación para desarrollar una carrera exitosa en arte y diseño."
              ctaTitle=""
              ctaUrl=""
              uniqueId="text-card-first-fold" />
          </div>
          <div class="column"></div>
        </div>
      </div>
    </section>
    <!-- END SECTION 1 -->

    <!-- SECTION 2 -->
    <section id="products-section-2">
      <div class="container">
        <div class="cont90">
          <div class="columns container">
            <div class="column align-items-center justify-content-center">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/products-mobile-studio-img.png" alt="Wacom Tablet" class="img-full" id="wacom-mobilestudio-pro-img">
            </div>
            <div class="column justify-content-center flex-columns">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/logo-mobile-studio-pro.png" alt="" id="wacom-mobilestudio-pro-logo">
              <ProductCard
                title="Libertad creativa en un potente estudio móvil "
                copy=""
                p1="Empodere a sus estudiantes con lo más avanzado en libertad creativa y precisión de lápiz sobre pantalla. Wacom MobileStudio Pro incluye un estudio completo de herramientas creativas en una computadora interactiva móvil liviana que cuenta con el Wacom Pro Pen 2."
                p2="Impulsada por un sistema operativo Windows 10 con total funcionalidad, MobileStudio Pro está diseñada para manejar grandes cargas de trabajo desde tareas creativas en 2D y 3D hasta materias de curso y desarrollo de portafolios."
                ctaTitle=""
                ctaUrl=""
                uniqueId="" />
                <span @click="toggle_product('mobileStudioPro')" class="cta-right">{{!mobileStudioPro ? 'Conozca Más' : 'Cerrar'}} <i :class="!mobileStudioPro ? 'icon-angle-right down' : 'icon-angle-right up'"></i></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 2 -->

    <!-- Product Toggle -->
    <section class="product-card" v-show="mobileStudioPro">
      <img src="http://contentz.mkt5510.com/lp/14182/95764/section-close-btn-blk.png" class="close-product" alt="" @click="toggle_product('mobileStudioPro')">
      <div class="cont50">
        <div class="columns">
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/mobile-studio-pro-feat-1.png" alt="" class="img-full">
            <h4>Wacom MobileStudio <br> Pro 13</h4>
            <p>BCreado para dibujar, arte de concepto detallado, escultura y pintura en 3D, gráficos en movimiento, además de función de edición y retoque de imagen avanzada.</p>
          </div>
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/mobile-studio-pro-feat-2.png" alt="" class="img-full">
            <h4>Wacom MobileStudio <br> Pro 16</h4>
            <p>Máxima potencia para dibujar, arte de concepto detallado, escultura y pintura en 3D, CAD en 3D, gráficos en movimiento, además de función de edición y retoque de imagen avanzada.</p>
          </div>
        </div>
        <div class="container text-align-center">
          <a class="cta" target="_blank" href="https://www.youtube.com/watch?v=EzD48WkYvJs">VEA EL VIDEO</a>
        </div>
      </div>
    </section>

    <!-- SECTION 3 -->
    <section id="products-section-3">
      <div class="container">
        <div class="cont90">
          <div class="columns container">
            <div class="column align-items-center justify-content-center mobile" id="products-section-3-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/products-cintiq-pro-img.jpg" alt="Wacom Tablet" class="img-full">
            </div>
            <div class="column justify-content-center flex-columns">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/logo-cintiq-pro.png" alt="" id="wacom-contiqpro-pro-logo">
              <TextCard
                title="Cree directamente en la pantalla con nuestra experiencia de lápiz más natural "
                copy=""
                p1="Prepare a sus estudiantes para carreras exitosas con el monitor interactivo que usan los actuales profesionales creativos líderes en la industria. Con la Wacom Cintiq Pro, el lápiz se convierte en la extensión de la mano para que sus estudiantes puedan crear directamente en la pantalla con naturalidad."
                p2="Color y resolución sorprendentes, combinados con la increíble sensibilidad del Wacom Pro Pen 2 y las capacidades multitáctiles dan a sus estudiantes la experiencia más avanzada de lápiz sobre pantalla."
                ctaTitle=""
                ctaUrl=""
                uniqueId="" />
                <span @click="toggle_product('cintiqPro')" class="cta-right-blue">{{!cintiqPro ? 'Conozca Más' : 'Cerrar'}} <i :class="!cintiqPro ? 'icon-angle-right down' : 'icon-angle-right up'"></i></span>
            </div>
            <div class="column align-items-center justify-content-center desktop">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/products-cintiq-pro-img.jpg" alt="Wacom Tablet" class="img-full" id="wacom-contiqpro-pro-img">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 3 -->

    <!-- Product Toggle -->
    <section class="product-card" v-show="cintiqPro" id="product-card-cintiq-pro">
      <img src="http://contentz.mkt5510.com/lp/14182/95764/section-close-btn-blk.png" class="close-product" alt="" @click="toggle_product('cintiqPro')">
      <div class="cont70">
        <div class="columns">
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/cintiq-pro-feat-1-img.png" alt="" class="img-full">
            <h4>Wacom Cintiq Pro 13</h4>
            <span>1920 x 1080px<br>Adobe® RGB 87%<br>Tecnología Wacom Pro Pen 2</span>
            <p>Un dispositivo compacto y más portátil, ideal para bosquejos y dibujo.</p>
            <a href="https://www.youtube.com/watch?v=Dy1BQuqz9s4" class="cta mobile">VEA EL VIDEO</a>
          </div>
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/cintiq-pro-feat-2-img.png" alt="" class="img-full">
            <h4>Wacom Cintiq Pro 16</h4>
            <span>3840 x 2160px <br> Adobe® RGB 94% (CIE 1976)<br>Tecnología Wacom Pro Pen 2</span>
            <p>Un lienzo más amplio con una pantalla más detallada, ideal para pintura y retoque.</p>
            <a href="https://www.youtube.com/watch?v=Dy1BQuqz9s4" class="cta mobile">VEA EL VIDEO</a>
          </div>
        </div>
        <div class="columns desktop-flexbox">
          <div class="column">
            <a href="https://www.youtube.com/watch?v=Dy1BQuqz9s4" class="cta">VEA EL VIDEO</a>
          </div>
          <div class="column">
            <a href="https://www.youtube.com/watch?v=Dy1BQuqz9s4" class="cta">VEA EL VIDEO</a>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 4 -->
    <section id="products-section-4">
      <div class="container">
        <div class="cont90">
          <div class="columns container">
            <div class="column-3"></div>
            <div class="column mobile" id="products-section-4-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-thm.png" alt="">
            </div>
            <div class="column-2 justify-content-center flex-columns">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/logo-cintiq-white.png" alt="" id="wacom-cintiq-pro-logo">
              <TextCard
                title="Creatividad en formato grande"
                copy=""
                p1="Permita que sus estudiantes profundicen los detalles de aquello que estén pintando, esculpiendo o animando. Las pantallas interactivas Wacom Cintiq expanden el lienzo creativo con pantallas de formato grande, alta definición y soporte multitáctil."
                p2="La experiencia intuitiva de trabajar directamente sobre la pantalla con el lápiz Wacom sensitivo a la presión acerca sus estudiantes a su trabajo y a la posibilidad de adquirir las habilidades profesionales que necesitarán mañana."
                ctaTitle=""
                ctaUrl=""
                uniqueId="" />
                <span @click="toggle_product('cintiq')" class="cta-right">{{!cintiq ? 'Conozca Más' : 'Cerrar'}} <i :class="!cintiq ? 'icon-angle-right down' : 'icon-angle-right up'"></i></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 4 -->

    <!-- Product Toggle -->
    <section class="product-card" v-show="cintiq" id="product-card-cintiq">
      <img src="http://contentz.mkt5510.com/lp/14182/95764/section-close-btn-blk.png" class="close-product" alt="" @click="toggle_product('cintiq')">
      <div class="cont50">
        <div class="columns">
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-feat-1.png" alt="" class="img-full">
            <h4>Cintiq 22HD Touch</h4>
            <span>1920 x 1080px<br>Adobe® RGB 87%<br>Wacom Pro Pen</span>
            <p>Área de trabajo amplia, soporte rotativo y abundantes herramientas de productividad.</p>
            <a href="https://www.youtube.com/watch?v=8E_Mv-uKPwc" class="cta mobile">VEA EL VIDEO</a>
          </div>
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-feat-2.png" alt="" class="img-full">
            <h4>Cintiq 27QHD Touch</h4>
            <span>2560 x 1440px<br>Adobe® RGB 97%<br>Wacom Pro Pen</span>
            <p>Área de trabajo de vidrio de borde a borde para permitir trazos de lápiz amplios y audaces, además de obra de arte en formato grande con desempeño de color con fidelidad real.</p>
            <a href="https://www.youtube.com/watch?v=0LG-3h7QrG8" class="cta mobile">VEA EL VIDEO</a>
          </div>
        </div>
        <div class="columns desktop-flexbox">
          <div class="column">
            <a href="https://www.youtube.com/watch?v=8E_Mv-uKPwc" class="cta">VEA EL VIDEO</a>
          </div>
          <div class="column">
            <a href="https://www.youtube.com/watch?v=0LG-3h7QrG8" class="cta">VEA EL VIDEO</a>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 5 -->
    <section id="products-section-5">
      <div class="container">
        <div class="cont90">
          <div class="columns container">
            <div class="column align-items-center justify-content-center mobile" id="products-section-5-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/products-intuos-pro-img.jpg" alt="Wacom Tablet" class="img-full margin-left">
            </div>
            <div class="column justify-content-center flex-columns">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/logo-intuos-pro.png" alt="" id="wacom-intuospro-pro-logo">
              <TextCard
                title="Auto expresión digital"
                copy=""
                p1="Introduzca a sus estudiantes al arte digital con una pen tablet profesional con capacidades multitáctiles. La Wacom Intuos Pro da a sus estudiantes el control creativo natural mientras ilustran, editan o diseñan digitalmente en 3D."
                p2="La conectividad Bluetooth integrada facilita la configuración, mientras que la impresionante sensibilidad a la presión del nuevo Wacom Pro Pen 2 acerca los estudiantes a su trabajo. Con el reducido espacio que ocupa en el escritorio y los materiales de alta calidad que resisten el uso repetido, la Intuos Pro permite a sus estudiantes experimentar y expresar su creatividad sin limitaciones"
                ctaTitle=""
                ctaUrl=""
                uniqueId="" />
                <span @click="toggle_product('intuos')" class="cta-right-blue">{{!intuos ? 'Conozca Más' : 'Cerrar'}} <i :class="!intuos ? 'icon-angle-right down' : 'icon-angle-right up'"></i></span>
            </div>
            <div class="column align-items-center justify-content-center desktop">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/products-intuos-pro-img.jpg" alt="Wacom Tablet" class="img-full margin-left" id="wacom-intuospro-pro-img">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 5 -->

    <!-- Product Toggle -->
    <section class="product-card" v-show="intuos" id="product-card-intuos">
      <img src="http://contentz.mkt5510.com/lp/14182/95764/section-close-btn-blk.png" class="close-product" alt="" @click="toggle_product('intuos')">
      <div class="cont50">
        <div class="columns">
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-feat-1.png" alt="" class="img-full">
            <h4>Wacom Intuos Pro</h4>
            <p>Wacom Pro Pen 2<br>8.192 niveles de presión del lápiz<br>8 ExpressKeys™<br>Conectividad Bluetooth integrada</p>
            <a href="https://www.youtube.com/watch?v=hD2o9wpx7CY" class="cta mobile">VEA EL VIDEO</a>
          </div>
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-feat-2.png" alt="" class="img-full">
            <h4>Wacom Intuos Paper Edition</h4>
            <p>Wacom Pro Pen 2<br>8.192 niveles de presión del lápiz<br>8 ExpressKeys™<br>Conectividad Bluetooth integrada; Wacom Finetip Pen Paper Clip<br>Hojas de papel A4 y tamaño carta<br>Estuche blando para accesorios</p>
            <a href="https://www.youtube.com/watch?v=9C4lgFeybmA" class="cta mobile">VEA EL VIDEO</a>
          </div>
        </div>
        <div class="columns desktop-flexbox">
          <div class="column">
            <a href="https://www.youtube.com/watch?v=hD2o9wpx7CY" class="cta">VEA EL VIDEO</a>
          </div>
          <div class="column">
            <a href="https://www.youtube.com/watch?v=9C4lgFeybmA" class="cta">VEA EL VIDEO</a>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>

<script>

import TextCard from '~/components/Elements/TextCard.vue';
import ProductCard from '~/components/Elements/ProductCard.vue';

export default {
  layout: 'es',
  data() {
    return {
      mobileStudioPro: false,
      cintiqPro: false,
      cintiq: false,
      intuos: false,
    };
  },
  components: {
    TextCard,
    ProductCard,
  },
  methods: {
    toggle_product(product) {
      if (product=='mobileStudioPro') {
        this.mobileStudioPro = !this.mobileStudioPro;
      } else if (product=='cintiqPro') {
        this.cintiqPro = !this.cintiqPro;
      } else if (product=='cintiq') {
        this.cintiq = !this.cintiq;
      } else if (product=='intuos') {
        this.intuos = !this.intuos;
      }
    },
  },
};
</script>

<style lang="scss">
  .cta {
    display: block;
    width: 100%;
    margin: 30px auto;
    color: white;
    background-color: #00A8DD;
    font-weight: bold;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    &:hover {
      background-color: #33709F;
    }
  }
  #products-section-1 {
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/products-intro-bg.jpg");
    background-size: cover;
    padding: 180px 0;
    #products-section-1-img {
      background: white url("http://contentz.mkt5510.com/lp/14182/95764/images/products-intro-bg.jpg") no-repeat right center/180%;
    }
  }
  #products-section-2 {
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/products-mobile-studio-bg.jpg");
    background-size: cover;
    padding: 50px 0;
    h1, p, a {
      color: #fff!important;
    }
    #wacom-mobilestudio-pro-img {
      margin: 0 60px;
    }
    #wacom-mobilestudio-pro-logo {
      width: 250px;
      margin-bottom: 20px;
    }
  }
  #products-section-3 {
    padding: 80px 0;
    #wacom-contiqpro-pro-logo {
      width: 200px;
      margin-bottom: 20px;
    }
  }
  #products-section-4 {
    padding: 100px 0;
    background: #5a040a url("http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-bg.jpg") no-repeat center/cover;
    background-size: cover;
    h1, p, a {
      color: #fff!important;
    }
    #wacom-cintiq-pro-logo {
      width: 180px;
      margin-bottom: 20px;
    }
  }
  #products-section-5 {
    padding: 100px 0;
    #wacom-intuospro-pro-logo {
      width: 180px;
      margin-bottom: 20px;
    }
  }

  .product-card {
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/shadow-top@2x.png"), url("http://contentz.mkt5510.com/lp/14182/95764/images/shadow-bottom@2x.png");
    background-position: center top, center bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    background-color: #EDEEF0;
    position: relative;
    padding: 80px 0;
    .columns {
      .column {
        display: block;
        text-align: center;
        margin: 0 20px;
      }
    }
    h4 {
      font-size: 22px;
      font-weight: 300;
    }
    .close-product {
      position: absolute;
      right: 30px;
      top: 30px;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
    span {
      font-size: 13px;
    }
  }

  .cta-right {
    color: #fff;
  }

  .cta-right-blue {
    color: #00A8DD;
  }

  .cta-right,
  .cta-right-blue {
    width: auto;

    background-color: transparent;
    font-size: 18px;
    font-weight: 300;
    padding-left: 0;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    i {
      display: inline-block;
      font-size: 20px;
      position: relative;
      top: 2px;
      padding: 0 6px 1px 7px;
      border-radius: 50%;
      border: 1px solid #00A8DD;
    }
    i.down {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    i.up {
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
    }
  }

  #product-card-cintiq-pro {
    .columns {
      flex-wrap: wrap;
      .column {
        width: calc(100% / 3);
        box-sizing: border-box;
      }
    }
  }

  @media (max-width: 768px) {
    .desktop-flexbox {
      display: none!important;
    }
    #products-section-1 {
      padding: 0;
      background: none;
      margin-bottom: 50px;
    }
    #products-section-2 {
      background: #091ab3 url("http://contentz.mkt5510.com/lp/14182/95764/images/products-mobile-studio-bg.jpg") no-repeat right top/cover;
      #wacom-mobilestudio-pro-img {
        width: 230px!important;
        height: 230px!important;
        margin-bottom: 30px;
      }
      #wacom-mobilestudio-pro-logo {
        width: 180px;
      }
      p {
        font-weight: 100;
      }
    }
    #products-section-3-img {
      text-align: center;
      img {
        width: 250px!important;
      }
    }
    #products-section-3 {
      #wacom-contiqpro-pro-logo {
        width: 150px;
      }
    }
    #products-section-4 {
      padding: 50px 0;
      background: #5a040a url("http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-bg.jpg") no-repeat right top/cover;
      #products-section-4-img {
        text-align: center;
        img {
          width: 250px!important;
          height: 250px!important;
        }
      }
      #wacom-cintiq-pro-logo {
        width: 140px!important;
      }
    }
    #products-section-5 {
      #products-section-5-img {
        text-align: center;
        margin-bottom: 20px;
        img {
          width: 250px!important;
        }
      }
    }
    .product-card {
      .column {
        margin-bottom: 30px!important;
        width: 90%!important;
        margin-left:auto!important;
        margin-right: auto!important;
      }
    }
  }

</style>
