<template lang="html">
  <div class="container">

    <!-- SECTION 1 -->
    <section id="resources-section-1">
      <div class="container columns">
        <div class="white-circle"></div>
        <div class="cont40">
          <TextCard
            title="Recursos para inspirar creatividad"
            copy=""
            p1="Descubra cómo los profesionales creativos en todo el mundo enriquecen sus flujos de trabajo, su obra y el mundo con Wacom."
            p2="Acceda a herramientas gratuitas como capacitación, incluyendo casos de éxito detallados, para ponerlo en camino hacia la construcción de un campus creativo de nivel internacional. Busque los recursos  por tipo, ya sea videos, e-books u hojas de datos de productos, o por categoría,  desde casos de éxito hasta comentarios."
            ctaTitle=""
            ctaUrl=""
            uniqueId="it-section-3-text-2"
            style="z-index:20;" />
        </div>
      </div>
    </section>
    <!-- END SECTION 1 -->

    <section id="all-resources">
      <div class="container">
        <div class="column mobile clearfix" id="select-category">
          <p class="float-left">Select Category</p>
          <i class="float-right icon-sort-down"></i>
        </div>
        <div class="cont85">
          <div class="columns">
            <div class="column desktop">
              <ul id="resource-options">
                <li
                  v-for="(category, index) in resources.cards"
                  :key="index">{{category.name_es}}</li>
              </ul>
            </div>

            <div class="column-5 resources">
              <div
                v-for="(category, index) in resources.cards"
                :key="index"
                class="container resource-cards-row">
                  <h1>{{category.name_es}}</h1>
                  <p>{{category.copy_es}}</p>
                  <hr>
                  <div class="resources-flexbox">
                    <VideoCard
                      v-for="(resource, index2) in category.resources"
                      :key="index2"
                      :img="resource.img"
                      :title="resource.title_es"
                      :subt_title="resource.subt_title_es" />
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>

<script>

import TextCard from '~/components/Elements/TextCard.vue';
import VideoCard from '~/components/Elements/VideoCard.vue';
import jsonData from '~/static/data/data.json';

export default {
  layout: 'es',
  data() {
    return {
        resources: jsonData.resources
    };
  },
  components: {
    TextCard,
    VideoCard,
  },
};
</script>

<style lang="scss">
  #resources-section-1 {
    padding: 120px 0;
    position: relative;
    text-align: center;
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/resources-bg.jpg");
    background-size: cover;
    overflow: hidden;
    margin-bottom: 50px;
    .cont40 {
      position: relative;
      z-index: 1;
    }
    .white-circle {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 700px;
      height: 700px;
      border-radius: 50%;
      background-color: #fff;
      z-index: 0;
    }
    .text-card {
      p {
        color: #666;
      }
    }
  }
  .resources {
    display: block;
    h1, p {
      display: block;
      font-weight: 300;
    }
    h1 {
      font-size: 42px;
      margin: 0;
    }
  }
  #resource-options {
    padding: 0;
    li {
      list-style: none;
      padding: 0;
      font-size: 12px;
      padding: 10px 0 10px 15px;
      cursor: pointer;
      &:hover {
        background-color: #0097d4;
        color: #fff;
      }
    }
  }
  .resources-flexbox {
    display: flex;
    flex-wrap: wrap;
    .resource-card-video {
      width: calc(100% / 4);
      box-sizing: border-box;
      padding: 20px;
      transition: background 0.4s ease;
      cursor: pointer;
      &:hover {
        background-color: #F3F5F6;
        .img-hover {
          .img-hover-overlay {
            display: flex;
          }
        }
      }
      img {
        width: 100%;
        height: auto;
      }
      h4 {
        margin: 0;
        margin-top: 10px;
        font-size: 18px;
        line-height: 21px;
        color: black;
        font-weight: 500;
      }
      span {
        font-size: 14px;
        line-height: 18px;
        color: #666666;
        margin: 0;
      }
      .img-hover {
        position: relative;
        transition: background 0.4s ease;
        .img-hover-overlay {
          transition: background 0.4s ease;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(0,0,0,0.5);
          width: 100%;
          height: 96%;
          display: none;
          justify-content: center;
          align-items: center;
          i {
            font-size: 40px;
            color: #fff;
            display: inline-block;;
          }
        }
      }
    }
  }
  .resource-cards-row {
    margin-bottom: 50px;
  }
  #select-category {
    background-color: #00A8DD;
    cursor: pointer;
    margin-bottom: 30px;
    color: #fff;
    padding: 15px 0;
    font-size: 18px;
    p {
      margin:0;
      margin-left: 3%;
    }
    .icon-sort-down {
      margin-right: 3%;
    }
  }
  @media (max-width: 768px) {
    #resources-section-1 {
      padding: 70px 0;
      margin: 0;
      .white-circle {
        width: 450px;
        height: 450px;
      }
      .cont40 {
        width: 80%;
      }
    }
    .resources-flexbox {
      .resource-card-video {
        width: calc(100% / 2);
      }
    }
  }
  @media (max-width: 400px) {
    .resources-flexbox {
      .resource-card-video {
        width: 100%;
      }
    }
  }
</style>
