<template lang="html">
  <div class="container">


    <!-- SECTION 1 -->
    <section id="education-section-1">
      <div class="tablet cont-tablet">
        <img src="http://contentz.mkt5510.com/lp/14182/95764/images/benefits-intro-img.png" id="education-section-1-img" alt="Wacom Tablet">
      </div>
      <div class="cont90">
        <div class="columns container">
          <div class="column-4 align-items-center justify-content-center dekstop-tablet" id="edu-tablet-1">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/benefits-intro-img.png" id="education-wacom-tablet" alt="Wacom Tablet">
          </div>
          <div class="column-3 align-items-center justify-content-center">
            <TextCard
              title="Dê a seus estudantes as ferramentas adequadas para liberar seu potencial criativo"
              copy=""
              p1="As mesas digitalizadoras, computadores com caneta e monitores interativos levam a auto-expressão para um novo nível de uniformidade, eficiência e vitalidade criativa. A tecnologia sensível à pressão não pretende substituir os fundamentos da arte e design, amplamente comprovados, ela foi projetada para ajudar os estudantes a estender suas habilidades ainda mais."
              p2="Combinando a sensação de uso dos meios tradicionais com as vantagens de um fluxo de trabalho digital, os produtos Wacom respondem com mais exatidão.  O suporte de inclinação natural faz da caneta uma extensão da mão, sem efeito Parallax e praticamente sem atrasos. Os atalhos programáveis oferecem acesso rápido aos comandos de uso mais frequente. As telas de alta definição permitem que os estudantes aprofundem os detalhes de aquilo que estejam pintando, esculpindo ou animando."
              ctaTitle=""
              ctaUrl=""
              uniqueId="text-card-first-fold" />
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 1 -->

    <!-- SECTION 2 -->
    <section id="education-section-2">
      <div class="cont90">
        <div class="columns container">
          <div class="column align-items-center mobile">
            <img src="~/static/img/Quote_Video_ES.png" alt="Art Wacom" id="education-section-2-img" class="img-full">
          </div>
          <div class="column-3 align-items-center margin-right-small">
            <Testimony
              testimony="“Nuestro compromiso es poder ofrecerles a nuestros alumnos la tecnología que está allá afuera y que es muy interesante y muy importante para que el día de mañana no empiecen de cero, tengan conocimiento de lo que existe y, sobre todo, ellos puedan demostrar lo que pueden hacer con este tipo de herramientas.”"
              author="Alexandre Santos, Professor Tutor"
              position="Curso de Design de Animação e Games"
              work="Panamericana"
              video="https://www.youtube.com/watch?v=py9PgY4Ao_Q"
              uniqueId="testimony-welcome" />
          </div>
          <div class="column align-items-center desktop">
            <img src="~/static/img/Quote_Video_PT.png" alt="Art Wacom" class="img-full">
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 2 -->

    <!-- SECTION 3 -->
    <section id="education-section-3">

      <!-- ABOVE SECTION -->
      <div class="container">
        <div class="cont90">
          <div class="container columns">
            <div class="column mobile" id="education-section-3-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/benefits-jumpstart-img.png" alt="Wacom Tablets" class="img-full">
            </div>
            <div class="column margin-right-small">
              <TextCard
                title="Impulsione as carreiras de seus estudantes"
                copy=""
                p1="O foco da Wacom é exclusivamente o desenvolvimento de soluções que ajudem a fazer do mundo um lugar mais criativo. É por isso que as agências e estúdios líderes têm confiado na tecnologia por mais de 30 anos para criar trabalhos assombrosos e premiados.  Estes são os empregadores que contratam graduados de programas como os seus, esperando que seus novos funcionários sejam flexíveis, eficientes e capazes de contribuir desde o primeiro dia na posição."
                p2="Treinando seus estudantes com as ferramentas nas que confiam os principais profissionais criativos de hoje, você prepara eles para acessar o mercado de trabalho um passo à frente, com portfólios que ganham empregos e com as habilidades necessárias para competir com sucesso no mundo real."
                ctaTitle=""
                ctaUrl=""
                uniqueId="text-card-first-fold" />
            </div>
            <div class="column desktop">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/benefits-jumpstart-img.png" alt="Wacom Tablets" class="img-full">
            </div>
          </div>
        </div>
      </div>
      <!-- END ABOVE SECTION -->

      <!-- SECTION BELOW -->
      <div class="container" id="education-section-3-below">
        <div class="cont90">
          <div class="container columns">

            <div class="column align-items-center justify-content-center" v-for="(imgCard, index) in img_cards" :key="index">
              <ImgCard
                :img="imgCard.img"
                :imgAlt="imgCard.imgAlt"
                :copy="imgCard.copy"
                :ctaTitle="imgCard.ctaTitle"
                :type="imgCard.type"
                :action_url="imgCard.action_url"
                :catUrl="imgCard.catUrl" />
            </div>

          </div>
        </div>
      </div>

    </section>
    <!-- END SECTION 3 -->

    <!-- SECTION 4 -->
    <section id="education-section-4">
      <div class="container">
        <div class="cont90">
          <div class="columns">
            <div class="column align-items-center" id="education-section-4-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/benefits-school-img.jpg" alt="Wacom Drawing">
            </div>
            <div class="column align-items-center">
              <TextCard
                title="Leve sua escola para uma posição de destaque"
                copy=""
                p1="Os atuais estudantes de arte e design representam a primeira geração sem memória da vida antes dos telefones celulares e da Internet. A maioria depende dos meios digitais e dos dispositivos para aprender, trabalhar e jogar on-line. Para inspirá-los na sala de aula, é necessário transmitir os conhecimentos com as ferramentas que eles já conhecem e que os criativos líderes usam em praticamente todas as áreas profissionais."
                p2="Solidifique sua reputação como instituição criativa líder combinando técnicas clássicas com meios modernos para levar seu plano de estudos para a era digital.  Com ferramentas Wacom no campus, na sala de aula e no laboratório criativo, você poderá atrair e reter os estudantes mais progressivos e ambiciosos que procuram escolas que ampliam suas fronteiras e investem na tecnologia mais recente."
                p3="O Ringling College amplia as fronteiras da Ilustração."
                ctaTitle="Observe uma excelente escola em ação"
                ctaUrl="https://www.youtube.com/watch?v=2XvEzp4xLik"
                uniqueId="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 4 -->

    <!-- SECTION 6 -->
    <section id="education-section-6">
      <div class="container">
        <div class="cont90">

          <div id="education-section-6-above">
            <div class="columns">
              <div class="column align-items-center justify-content-center mobile" id="education-section-6-img">
                <img src="~/static/img/White-papers.png" alt="White Papers Wacom">
              </div>
              <div class="column-3 align-items-center justify-content-center margin-right-small">
                <TextCard
                  title="A economia criativa na América Latina"
                  copy="A economia criativa, conhecida também como economia laranja, está se expandindo no mundo todo. A América Latina conta com uma herança cultural importante e um grande impulso criativo, reconhecido mundialmente, o qual a coloca numa posição ideal para participar ativamente nesta nova relação entre as mais diversas manifestações criativas e a economia."
                  ctaTitle="Leia o documento"
                  ctaUrl="https://www.dropbox.com/s/fkg5usvovdhxq0e/WAC_B2B_LATAM_OrangeEconomy_WP_PT_041118.pdf?dl=0"
                  uniqueId="" />
              </div>
              <div class="column justify-content-center desktop" id="ed-sec-6">
                <img src="~/static/img/White-papers.png" alt="White Papers Wacom" class="img-full">
              </div>
            </div>
          </div>

          <div id="education-section-6-below">
            <div class="columns">
              <div class="column align-items-center justify-content-center" id="education-section-6-img-2">
                <img src="~/static/img/WacomStudio-NoMouse.png" alt="White Papers Wacom">
              </div>
              <div class="column-2 align-items-center justify-content-center margin-right-small">
                <Testimony
                  testimony="“Com Wacom, um laboratório de arte e design digital converte-se no polo de atração de talento criativo e desenvolvimento de experiências interativas, em centro diferenciador para a instituição que adota estas ferramentas de ponta e no impulsionador da economia criativa.”"
                  author=""
                  position=""
                  work=""
                  video=""
                  uniqueId="testimony-welcome" />
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- END SECTION 6 -->

    <!-- SECTION 5 -->
    <section id="education-section-5">
      <div class="cont70">
        <TextCard
          title="Seu parceiro criativo"
          copy=""
          p1="Por mais de três décadas, os profissionais criativos no mundo todo têm confiado na Wacom para estender os limites da arte e do design digital. De modo que não é surpresa comprovar que as principais escolas de arte e design confiam nos produtos Wacom para preparar a próxima geração de  talento para as carreiras que vão transformar o mundo."
          p2="Desde uma inovadora tecnologia de caneta digital até monitores interativos que marcam um novo padrão em resolução e cor, a Wacom entende todo o fluxo de trabalho criativo. Investir na Wacom significa dispor de uma equipe dedicada a ajudar você a encontrar a melhor solução de custo efetivo para sua escola, e estar presente para proporcionar suporte prático a seu pessoal."
          p3="Como treinar seus estudantes com as ferramentas que usam os principais criativos."
          ctaTitle="Baixe o folheto"
          ctaUrl="https://www.dropbox.com/s/s585lclugrdxqcc/sRGB_660271_Wacom_B2B-Education_SalesSheet_Ptbr_0311_screen.pdf?dl=0"
          uniqueId="your-creative-partner" />
      </div>
    </section>
    <!-- END SECTION 5 -->

  </div>
</template>

<script>

import TextCard from '~/components/Elements/TextCard.vue';
import Testimony from '~/components/Elements/Testimony.vue';
import ImgCard from '~/components/Elements/ImgCard.vue';

export default {
  layout: 'pt',
  data() {
    return {
        img_cards: [
          {
            "img": "http://contentz.mkt5510.com/lp/14182/95764/images/school-asset-1.png",
            "imgAlt": "As escolas da Califórnia desenvolvem um programa ecucativo renomado.",
            "copy": "As escolas da Califórnia desenvolvem um programa ecucativo renomado.",
            "ctaTitle": "Veja o vídeo",
            "type": "video",
            "action_url": "GltD2Sud4kM",
            "catUrl": "https://www.youtube.com/watch?v=GltD2Sud4kM"
          },
          {
            "img": "http://contentz.mkt5510.com/lp/14182/95764/images/school-asset-2.png",
            "imgAlt": "Animadores líderes usam Wacom para inovar.",
            "copy": "Animadores líderes usam Wacom para inovar.",
            "ctaTitle": "Descargue el e-book",
            "type": "download",
            "action_url": "",
            "catUrl": "https://www.dropbox.com/s/stg6z9a6y8m7yia/Wacom_B2B_Uberflip_Tools%20of%20the%20Trade_WTC_Ptbr_lo-res.pdf?dl=0"
          },
          {
            "img": "http://contentz.mkt5510.com/lp/14182/95764/images/school-asset-3.png",
            "imgAlt": "Os animadores da Nickelodeon ensinam habilidades do mundo real.",
            "copy": "Os animadores da Nickelodeon ensinam habilidades do mundo real.",
            "ctaTitle": "Veja o vídeo",
            "type": "video",
            "action_url": "",
            "catUrl": "https://www.youtube.com/watch?v=ruAQQzmIu6I"
          },
          {
            "img": "http://contentz.mkt5510.com/lp/14182/95764/images/school-asset-4.png",
            "imgAlt": "Como construir modelos 3D com Wacom.",
            "copy": "Como construir modelos 3D com Wacom.",
            "ctaTitle": "Veja o vídeo",
            "type": "video",
            "action_url": "",
            "catUrl": "https://www.youtube.com/watch?v=d11xGL2mtdw"
          }
        ]
    };
  },
  components: {
    TextCard,
    Testimony,
    ImgCard,
  },
}
</script>

<style lang="scss">
  #ed-sec-6 {
    display: flex;
    justify-content: flex-end!important;
    align-items: flex-end!important;
  }
 #education-section-1 {
   padding: 80px 0;
   background: white url("http://contentz.mkt5510.com/lp/14182/95764/images/benefits-intro-bg.jpg") no-repeat center/cover;
   #education-wacom-tablet {
     width: 60%;
     height: auto;
   }
   #education-section-1-img {
     width: 150px;
     height: 150px;
     margin: auto;
   }
   #edu-tablet-1 {
     display: flex;
     justify-content: flex-start!important;
     align-items: center!important;
   }
 }
 #education-section-2 {
   padding: 50px 0;
 }
 #education-section-3 {
   background-color: #EDEEF0;
   padding: 50px 0;
   #education-section-3-below {
     margin: 80px 0 20px 0;
     text-align: center!important;
     .column {
       margin: 0 30px;
     }
   }
   #education-section-3-img {
     text-align: center;
     img {
       width: 200px!important;
     }
   }
   .text-card p {
     font-size: 14px;
   }
 }
 #education-section-4 {
   padding: 80px 0;
 }
 #education-section-5 {
   text-align: center;
   margin: 20px 0 80px 0;
 }
#education-section-6 {
  background-color: #EDEEF0;
  padding: 50px 0;
  margin-bottom: 80px;
  #education-section-6-img {
    text-align: center;
    img {
      width: 200px;
    }
  }
}
@media (max-width: 992px) {
  .cont-mobile-big {
    text-align: center;
  }
  #education-section-1 {
    padding: 0!important;
    background: none;
    .cont-tablet {
      background: white url("http://contentz.mkt5510.com/lp/14182/95764/images/benefits-intro-bg.jpg") no-repeat left center/180%;
      margin-bottom: 20px;
      text-align: center;
    }
    p {
      font-size: 14px;
    }
  }
}
@media (max-width: 768px) {
  #education-section-2 {
    .column {
      text-align: center;
    }
    p {
      font-size: 18px;
    }
    span {
      font-size: 14px;
    }
    #education-section-2-img {
      width: 200px!important;
      height: 200px!important;
    }
  }
  #education-section-3 {
    padding: 30px 0;
    .img-card {
      margin-bottom: 40px;
      .img-hover {
        img {
          width: 150px!important;
          height: 150px!important;
        }
      }
      p {
        margin-bottom: 0;
      }
    }
  }
  #education-section-4 {
    padding: 30px 0;
    .text-card {
      p {
        font-size: 14px!important;
      }
    }
  }
  #education-section-4-img {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    img {
      width: 200px!important;
      height: 200px!important;
    }
  }
  #education-section-5 {
    margin-top: 50px;
    p {
      font-size: 14px;
    }
  }
  #education-section-6 {
    #education-section-6-above {
      margin-bottom: 40px;
    }
    #education-section-6-img-2 {
      text-align: center;
      img {
        width: 200px;
        height: 200px;
        margin-bottom: 30px;
      }
    }
  }
}
</style>
