<template>
  <div class="container">

    <!-- FIRST SECTION -->
    <section id="section-first">
      <div class="cont-mobile" id="cont-mobile-section-first"></div>
      <div class="cont80">
        <div class="columns container" id="">
          <div class="column-3">
            <TextCard
              title="Estimule a criatividade na aula"
              copy="Estimule seus estudantes a explorar, experimentar e expressar sua criatividade. Com a tecnologia Wacom para a educação, você pode expandir os horizontes criativos de seus estudantes, enquanto cultiva as habilidades de pensamento crítico e solução de problemas que lhes serão úteis na vida."
              ctaTitle=""
              ctaUrl=""
              uniqueId="text-card-first-fold" />
          </div>
          <div class="column-4"></div>
        </div>
      </div>
    </section>
    <!-- END FIRST SECTION -->

    <!-- SECOND SECTION -->
    <section id="section-second">

        <div class="cont-mobile" id="cont-mobile-section-second"></div>

        <!-- TOP SECTION -->
        <div class="container" id="pen-background-right">
          <div class="cont90">
            <div class="columns container" id="">
              <div class="column">
                <TextCardNuxtLink
                  title="Prepare seus estudantes para carreiras bem-sucedidas"
                  copy=""
                  p1="Treinar os estudantes com as ferramentas digitais que usam os estúdios e agências líderes na indústria proporciona a eles uma vantagem competitiva incalculável. É por isso que milhares de universidades e escolas de arte e design no mundo todo confiam na Wacom ao preparar seus formandos para desenvolver carreiras bem-sucedidas em arte e design."
                  p2="Os produtos Wacom dão a seus estudantes a liberdade de converter suas paixões criativas em realidade, construir portfólios de nível internacional e desenvolver as habilidades do mundo real que os empregadores esperam."
                  ctaTitle="Explore mais "
                  ctaUrl="/pt/beneficios-educacionais"
                  uniqueId="text-card-second-section-welcome" />
              </div>
              <div class="column"></div>
            </div>
          </div>
        </div>


        <!-- BELOW SECTION -->
        <div class="container">
          <div class="cont90">
            <div class="columns" id="below-section-welcome-second">
              <div class="column align-items-center">
                <img src="http://contentz.mkt5510.com/lp/14182/95764/images/home-benefits-quote-img.png" alt="Person drawing with Wacom" id="person-drawing-with-wacom" class="img-full">
              </div>
              <div class="column-3 margin-left-small">
                <Testimony
                  testimony="“Quando visitava estúdios, eu percebia que seus artistas digitais utilizavam tecnologia Wacom. Pensei que nossos estudantes deveriam familiarizar-se com essa tecnologia desde o primeiro ano, para que na hora de formar-se eles tivessem um domínio fluido do seu fluxo de trabalho para poder trabalhar em um estúdio e ser eficiente desde o primeiro dia.”"
                  author="Rafael Goldchain"
                  position="Coordenador de Fotografia Aplicada"
                  work="Sheridan College"
                  video=""
                  uniqueId="testimony-welcome" />
              </div>
            </div>
          </div>
        </div>

    </section>
    <!-- END SECOND SECTION -->

    <!-- SECTION 3 -->
    <section id="section-third">
      <div class="cont-mobile-big" id="cont-mobile-section-third"></div>
      <div class="cont90">
        <div class="container columns justify-content-center align-items-center">
          <div class="column">
            <TextCardNuxtLink
              title="A tecnologia que é bem adaptável "
              copy=""
              p1="Integrar novo hardware e software a sua infraestrutura existente não é fácil. Os produtos Wacom são projetados para facilitar essa transição com configuração intuitiva e manutenção mínima."
              p2="A compatibilidade com o hardware e os programas de software criativo mais usados, a funcionalidade plug-and-play e a provada confiabilidade são as pedras angulares de todos nossos produtos. Os controladores são fáceis de manter atualizados com acesso conveniente em nosso website. Além disso, nosso pessoal de suporte tem experiência em proporcionar assistência técnica a nossos clientes do setor de educação, e estão sempre disponíveis por telefone, e-mail e chat."
              ctaTitle="Explore mais"
              ctaUrl="/pt/integracao-de-ti"
              uniqueId="text-card-second-section-welcome" />
          </div>
          <div class="column"></div>
        </div>
      </div>
    </section>
    <!-- END SECTION 3 -->

    <!-- SECTION 4 -->
    <section id="section-fourth">
      <div class="cont90">
        <RowImgTextCard
          imgPosition="left"
          imgAsBackground="no"
          img="http://contentz.mkt5510.com/lp/14182/95764/images/product-thm.png"
          imgSize="default"
          imgAlt="Wacom Tablet"
          title="Crie um campus de nível internacional"
          copy="Com os produtos Wacom no campus, na sala de aula e no laboratório de computação, você poderá atrair e reter os melhores estudantes da atualidade, nativos digitais que procuram expressar-se naturalmente com tecnologia de avançada. Com a Wacom, você poderá ajudar os estudantes, interessados em animação, ilustração, design de jogos ou em outras áreas criativas, a desenvolver todo seu potencial criativo como nunca imaginaram que fosse possível. "
          ctaTitle="Encontre sua Wacom "
          ctaUrl="/pt/produtos"
          uniqueId="text-card-fourth-section-welcome"
          textCardUniqueId="" />
      </div>
    </section>
    <!-- END SECTION 4 -->

    <!-- SECTION 5 -->
    <section id="section-fifth">
      <div class="cont90">
        <div class="desktop">
          <RowImgTextCard
            imgPosition="right"
            imgAsBackground="no"
            img="http://contentz.mkt5510.com/lp/14182/95764/images/resources-img.jpg"
            imgSize="full"
            imgAlt="Biblioteca de recursos "
            title="Biblioteca de recursos "
            copy="Consulte nossa coleção de vídeos, e-books, casos de sucesso e depoimentos para conhecer como a Wacom ajuda os artistas e designers em toda parte para fazer do mundo um lugar mais criativo."
            ctaTitle="Visite a biblioteca"
            ctaUrl="/pt/recursos"
            uniqueId="text-card-fifth-section-welcome"
            textCardUniqueId="fifth-section-welcome-copy" />
        </div>
        <div class="mobile">
          <RowImgTextCard
            imgPosition="left"
            imgAsBackground="no"
            img="http://contentz.mkt5510.com/lp/14182/95764/images/resources-img.jpg"
            imgSize="full"
            imgAlt="Biblioteca de recursos "
            title="Biblioteca de recursos "
            copy="Consulte nossa coleção de vídeos, e-books, casos de sucesso e depoimentos para conhecer como a Wacom ajuda os artistas e designers em toda parte para fazer do mundo um lugar mais criativo."
            ctaTitle="Visite a biblioteca"
            ctaUrl="/pt/recursos"
            uniqueId="text-card-fifth-section-welcome"
            textCardUniqueId="fifth-section-welcome-copy" />
        </div>
      </div>
    </section>
    <!-- END SECTION 5 -->

  </div>
</template>

<script>

import TextCard from '~/components/Elements/TextCard.vue';
import TextCardNuxtLink from '~/components/Elements/TextCardNuxtLink.vue';
import Testimony from '~/components/Elements/Testimony.vue';
import RowImgTextCard from '~/components/Elements/RowImgTextCard.vue';

export default {
  layout: 'pt',
  components: {
    TextCard,
    Testimony,
    RowImgTextCard,
    TextCardNuxtLink,
  },
  mounted() {
    //do something after mounting vue instance

  }
}
</script>

<style lang="scss">

  // First Section
  #section-first {
    width: 100%;
    padding: 170px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    #text-card-first-fold {
      h1 {
        font-size: 42px;
      }
    }
    #cont-mobile-section-first {
      background: white url("http://contentz.mkt5510.com/lp/14182/95764/images/hero-bg.jpg") no-repeat right center/150%;
    }
  }

  // Second Section
  #section-second {
    padding: 50px 0 90px 0;
    position: relative;
    width: 100%;
    display: block;
    background-color:#EDEEF0;
    margin: 0;
    #text-card-second-section-welcome {

    }
    #person-drawing-with-wacom {
      margin: auto;
    }
    #pen-background-right {
      margin-bottom: 60px;
      background-image: url("~/static/img/pen.png");
      background-repeat: no-repeat;
      background-position: right;
    }
    #below-section-welcome-second {
      justify-content: center;
      align-items: center;
    }
    #cont-mobile-section-second {
      background: #EDEEF0 url("http://contentz.mkt5510.com/lp/14182/95764/images/pen-img.png") no-repeat right top/auto 150px;
    }
  }

  // Third Section
  #section-third {
    padding: 100px 0 150px 0;
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/integration-bg.jpg");
    background-size: cover;
    background-position: center;
    #cont-mobile-section-third {
      height: 150px;
      background: white url("http://contentz.mkt5510.com/lp/14182/95764/images/integration-bg.jpg") no-repeat right center/80%;
    }
  }

  // Fourth Section
  #section-fourth {
      padding: 50px 0 80px 0;
  }

  // Section 5
  #section-fifth {
    padding: 50px 0 100px 0;
  }

  @media (max-width: 768px) {
    #section-first {
      padding: 0!important;
      background: none;
      .columns {
        padding: 10px 0;
      }
    }
    #section-second {
      padding: 0 0 20px 0!important;
      #pen-background-right {
        background: none;
      }
      .testimony {
        p {
          font-size: 18px;
        }
      }
    }
    #person-drawing-with-wacom {
      width: 250px!important;
      height: 250px!important;
      margin: auto;
    }
    #section-third {
      background: none;
      padding: 0!important;
      p {
        font-size: 14px;
      }
    }
    #section-fourth {
      padding-bottom: 0;
      img {
        width: 250px!important;
        height: 250px!important;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
      }
    }
    #section-fifth {
      img {
        width: 200px!important;
        height: 160px!important;
        margin-bottom: 20px;
      }
    }
  }

</style>
