<template lang="html">
  <div class="container">

    <!-- SECTION 1 -->
    <section id="it-section-1">
      <div class="tablet cont-tablet">
        <img src="http://contentz.mkt5510.com/lp/14182/95764/images/integration-intro-img.png" id="it-section-1-img" alt="Wacom Tablet">
      </div>
      <div class="cont90">
        <div class="columns container">
          <div class="column">
            <TextCard
              title="Integração fácil"
              copy=""
              p1="Nós acreditamos que a tecnologia deve acelerar a aprendizagem. É por isso que os produtos Wacom são projetados para interagir facilmente com sua infraestrutura existente, seja que você execute sistemas operacionais Mac, Windows ou Linux. O resultado: não precisa de incómodos ajustes e o tempo de inatividade é mínimo."
              p2="Nossas funcionalidades de reconhecimento e sensibilidade à pressão da caneta estão integradas nos programas de software criativo mais amplamente usados por empresas como Adobe, Autodesk, Corel, Pixologic e Toon Boom. Para o pessoal de TI ficará mais fácil atualizar os controladores em todos seus dispositivos, e seus estudantes terão acesso a novos níveis de criatividade e produtividade usando ferramentas mais avançadas."
              p3="No design de interiores, a tecnologia fica em primeiro plano."
              ctaTitle="Veja o vídeo"
              ctaUrl="https://www.youtube.com/watch?v=6p0A3GcCJzw"
              uniqueId="text-card-first-fold" />
          </div>
          <div class="column align-items-center justify-content-right dekstop-tablet" id="it-section-1-justify">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/integration-intro-img.png" id="it-wacom-tablet" alt="Wacom Tablet">
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 1 -->

    <!-- SECTION 2 -->
    <section id="it-section-2">
      <div class="container">
        <div class="cont90">
          <div class="columns container">
            <div class="column align-items-center justify-content-center" id="it-section-2-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/integration-built-to-last-img.png" alt="Wacom Tablet" class="img-full">
            </div>
            <div class="column align-items-center justify-content-center">
              <TextCard
                title="Construídos para durar"
                copy=""
                p1="Por mais de três décadas, a Wacom tem sido a opção preferida dos profissionais criativos que precisam de tecnologia testada para atender ao seu fluxo de trabalho exigente. O corpo docente e seus estudantes merecem o mesmo nível de durabilidade para poder contar com instrução confiável e sem interrupções"
                p2="As mesas digitalizadoras, computadores com caneta e monitores interativos da Wacom entregam o que prometem. São construídos para suportar o uso e desgaste que resulta do uso repetido, da pressão continua e das intermináveis horas experimentando e refazendo. Isso significa menos tempo ocupado com a tecnologia e mais tempo dedicado ao processo criativo."
                p3="Os artistas gráficos exercitam sua licença criativa com a Wacom."
                ctaTitle="Veja o vídeo"
                ctaUrl="https://www.youtube.com/watch?v=WzuXZr16Bbw"
                uniqueId="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 2 -->

    <!-- SECTION 3 -->
    <section id="it-section-3">
      <div class="container">
        <div class="cont90">
          <div class="columns" id="it-section-3-container-1">
            <div class="column align-items-center justify-content-center mobile" id="it-section-3-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/intetration-flexibility-img.png" alt="Wacom Pen" class="img-full">
            </div>
            <div class="column-3 align-items-center justify-content-center">
              <TextCard
                title="Flexíveis e seguros"
                copy=""
                p1="É provável que suas salas de aula tenham espaço de mesa limitado, ou que seu corpo docente queira mudar os dispositivos de lugar, emprestá-los aos estudantes ou usá-los em um espaço colaborativo. Os produtos Wacom podem adaptar-se a uma grande variedade de cenários de ensino dinâmicos, com seleção de tamanhos, funções de mobilidade e resistência testada."
                p2="Os estudantes podem trabalhar comodamente e por períodos estendidos graças ao design ergonómico da caneta, com dois botões programáveis convenientemente localizados no corpo curvado da caneta, e uma variedade de recursos adicionais, desde suportes ajustáveis até capacidades multitoque. E para manter os produtos extra seguros em qualquer ambiente, todos os produtos podem ser bloqueados; a maioria tem ranhuras integradas para fechaduras Kensington."
                p3="5 dicas para atualizar seu laboratório criativo."
                ctaTitle="Baixe o e-book"
                ctaUrl="https://www.dropbox.com/s/bt34d0x7gas04ui/Wacom_B2B_Uberflip_5Things_V2_WTC_PT_Screen.pdf?dl=0"
                uniqueId="it-section-3-text-1" />
            </div>
            <div class="column align-items-center justify-content-center desktop">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/intetration-flexibility-img.png" alt="Wacom Pen" class="img-full">
            </div>
          </div>
          <div class="columns" id="it-section-3-container-2">
            <div class="column align-items-center justify-content-center" id="it-section-3-img-2">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/integration-comprehensive-img.png" alt="Wacom Pen" class="img-full">
            </div>
            <div class="column-3 align-items-center justify-content-center">
              <TextCard
                title="Suporte integral"
                copy=""
                p1="A Wacom respalda todos seus produtos com suporte técnico de nível internacional e serviço ao cliente eficiente. Seja que você precisar de ajuda configurando produtos e controladores, tutoriais que mostrem como usar as funções ou dicas sobre resolução de problemas, o guiaremos a cada passo. Precisa apenas comunicar-se por telefone, e-mail ou chat."
                p2="Em outras palavras, queremos garantir que seu investimento em nova tecnologia seja corretamente implantado para que seu pessoal docente e seus estudantes possam aproveitar todo seu potencial."
                ctaTitle=""
                ctaUrl=""
                uniqueId="it-section-3-text-2" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 3 -->

  </div>
</template>

<script>

import TextCard from '~/components/Elements/TextCard.vue';

export default {
  layout: 'pt',
  components: {
    TextCard,
  },
};
</script>

<style lang="scss">
  #it-section-1 {
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/integration-intro-bg.jpg");
    background-size: cover;
    padding: 100px 0;
    #it-wacom-tablet {
      width: 60%;
      height: auto;
    }
    #it-section-1-img {
      width: 150px;
      height: 150px;
      margin: auto;
    }
    #it-section-1-justify {
      display: flex;
      justify-content: flex-end;
    }
  }
  #it-section-2 {
    background-color: #EDEEF0;
    padding: 80px 0;
  }
  #it-section-3 {
    #it-section-3-text-1 {
      margin-right: 70px;
    }
    #it-section-3-text-2 {
      margin-left: 70px;
    }
    .columns {
      margin: 80px 0;
    }
  }
  @media (max-width: 992px) {
    .cont-mobile-big {
      text-align: center;
    }
    #it-section-1 {
      margin-bottom: 50px;
      padding: 0!important;
      background: none;
      .cont-tablet {
        background: white url("http://contentz.mkt5510.com/lp/14182/95764/images/integration-intro-bg.jpg") no-repeat right center/180%;
        margin-bottom: 20px;
        text-align: center;
      }
      p {
        font-size: 14px;
      }
    }
    #it-section-2 {
      padding: 30px 0;
      p {
        font-size: 14px;
      }
    }
    #it-section-2-img {
      text-align: center!important;
      img {
        width: 200px!important;
      }
    }
    #it-section-3 {
      padding: 50px 0;
      p {
        font-size: 14px;
        line-height: 1.7em;
        font-weight: 300;
        color: black;
        margin: 10px 0;
      }
      #it-section-3-text-2 {
        margin-left: 0px;
        margin-top: 20px;
      }
      #it-section-3-container-1,
      #it-section-3-container-2 {
        margin: 0;
      }
      #it-section-3-container-1 {
        margin-bottom: 50px;
      }
    }
    #it-section-3-img,
    #it-section-3-img-2 {
      text-align: center!important;
      img {
        width: 200px!important;
      }
    }
    #it-section-3 #it-section-3-text-1 {
      margin-right: 0px;
      margin-top: 30px;
    }
  }
</style>
