<template lang="html">
  <div class="container">

    <!-- SECTION 1 -->
    <section id="products-section-1">
      <div class="cont-mobile" id="products-section-1-img"></div>
      <div class="cont90">
        <div class="columns container">
          <div class="column">
            <TextCard
              title="Tecnologia para criar um campus de nível internacional"
              copy="Destaque sua escola com as mesas digitalizadoras, computadores com caneta e monitores interativos que usam os estúdios, agências e profissionais criativos. Com a Wacom no campus, você poderá atrair e reter os melhores estudantes, estimular novos níveis de criatividade e preparar os aspirantes a formar-se e desenvolver uma carreira bem-sucedida em arte e design."
              ctaTitle=""
              ctaUrl=""
              uniqueId="text-card-first-fold" />
          </div>
          <div class="column"></div>
        </div>
      </div>
    </section>
    <!-- END SECTION 1 -->

    <!-- SECTION 2 -->
    <section id="products-section-2">
      <div class="container">
        <div class="cont90">
          <div class="columns container">
            <div class="column align-items-center justify-content-center">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/products-mobile-studio-img.png" alt="Wacom Tablet" class="img-full" id="wacom-mobilestudio-pro-img">
            </div>
            <div class="column justify-content-center flex-columns">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/logo-mobile-studio-pro.png" alt="" id="wacom-mobilestudio-pro-logo">
              <ProductCard
                title="Liberdade criativa em um poderoso estúdio móvel "
                copy=""
                p1="Prepare seus estudantes com o mais avançado em liberdade criativa e precisão de caneta sobre tela. O Wacom MobileStudio Pro inclui um estúdio completo de ferramentas criativas em um computador de caneta móvel leve que apresenta a nova Wacom Pro Pen 2."
                p2="Impulsionado por um sistema operacional Windows 10 com total funcionalidade, o MobileStudio Pro está projetado para lidar com grandes cargas de trabalho desde tarefas criativas em 2D e 3D até matérias de curso e desenvolvimento de portfólios."
                ctaTitle=""
                ctaUrl=""
                uniqueId="" />
                <span @click="toggle_product('mobileStudioPro')" class="cta-right">{{!mobileStudioPro ? 'Conheça mais' : 'Fechar'}} <i :class="!mobileStudioPro ? 'icon-angle-right down' : 'icon-angle-right up'"></i></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 2 -->

    <!-- Product Toggle -->
    <section class="product-card" v-show="mobileStudioPro">
      <img src="http://contentz.mkt5510.com/lp/14182/95764/section-close-btn-blk.png" class="close-product" alt="" @click="toggle_product('mobileStudioPro')">
      <div class="cont50">
        <div class="columns">
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/mobile-studio-pro-feat-1.png" alt="" class="img-full">
            <h4>Wacom MobileStudio <br> Pro 13</h4>
            <p>Criado para desenhar, arte de conceito detalhado, escultura e pintura em 3D, gráficos em movimento, além de recurso de edição e retoque de imagem avançado.</p>
          </div>
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/mobile-studio-pro-feat-2.png" alt="" class="img-full">
            <h4>Wacom MobileStudio <br> Pro 16</h4>
            <p>Máxima potência para desenhar, arte de conceito detalhado, escultura e pintura em 3D, CAD em 3D, gráficos em movimento, além de recurso de edição e retoque de imagem avançado.</p>
          </div>
        </div>
        <div class="container text-align-center">
          <a class="cta" target="_blank" href="https://www.youtube.com/watch?v=EzD48WkYvJs">VEJA O VÍDEO</a>
        </div>
      </div>
    </section>

    <!-- SECTION 3 -->
    <section id="products-section-3">
      <div class="container">
        <div class="cont90">
          <div class="columns container">
            <div class="column align-items-center justify-content-center mobile" id="products-section-3-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/products-cintiq-pro-img.jpg" alt="Wacom Tablet" class="img-full">
            </div>
            <div class="column justify-content-center flex-columns">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/logo-cintiq-pro.png" alt="" id="wacom-contiqpro-pro-logo">
              <TextCard
                title="Crie diretamente na tela com a nossa experiência de caneta mais natural "
                copy=""
                p1="Prepare seus estudantes para carreiras bem-sucedidas com o monitor interativo que usam os atuais profissionais criativos líderes na indústria. Com a Wacom Cintiq Pro, a caneta torna-se a extensão da sua mão para que seus estudantes possam criar diretamente na tela com naturalidade."
                p2="Cor e resolução surpreendentes, combinadas com a incrível sensibilidade da Wacom Pro Pen 2 e as capacidades  multitoque dão a sus estudantes a experiência mais avançada de caneta sobre tela."
                ctaTitle=""
                ctaUrl=""
                uniqueId="" />
                <span @click="toggle_product('cintiqPro')" class="cta-right-blue">{{!cintiqPro ? 'Conheça mais' : 'Fechar'}} <i :class="!cintiqPro ? 'icon-angle-right down' : 'icon-angle-right up'"></i></span>
            </div>
            <div class="column align-items-center justify-content-center desktop">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/products-cintiq-pro-img.jpg" alt="Wacom Tablet" class="img-full" id="wacom-contiqpro-pro-img">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 3 -->

    <!-- Product Toggle -->
    <section class="product-card" v-show="cintiqPro" id="product-card-cintiq-pro">
      <img src="http://contentz.mkt5510.com/lp/14182/95764/section-close-btn-blk.png" class="close-product" alt="" @click="toggle_product('cintiqPro')">
      <div class="cont70">
        <div class="columns">
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/cintiq-pro-feat-1-img.png" alt="" class="img-full">
            <h4>Wacom Cintiq Pro 13</h4>
            <span>1920 x 1080px<br>Adobe® RGB 87%<br>Tecnologia Wacom Pro Pen 2</span>
            <p>Um dispositivo compacto e mais portátil, ideal para esboços e desenho.</p>
            <a href="https://www.youtube.com/watch?v=Dy1BQuqz9s4" class="cta mobile">VEJA O VÍDEO</a>
          </div>
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/cintiq-pro-feat-2-img.png" alt="" class="img-full">
            <h4>Wacom Cintiq Pro 16</h4>
            <span>3840 x 2160px <br> Adobe® RGB 94% (CIE 1976)<br>Tecnologia Wacom Pro Pen 2</span>
            <p>Um espaço mais amplo com uma tela mais detalhada, ideal para pintura e retoque.</p>
            <a href="https://www.youtube.com/watch?v=Dy1BQuqz9s4" class="cta mobile">VEJA O VÍDEO</a>
          </div>
        </div>
        <div class="columns desktop-flexbox">
          <div class="column">
            <a href="https://www.youtube.com/watch?v=Dy1BQuqz9s4" class="cta">VEJA O VÍDEO</a>
          </div>
          <div class="column">
            <a href="https://www.youtube.com/watch?v=Dy1BQuqz9s4" class="cta">VEJA O VÍDEO</a>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 4 -->
    <section id="products-section-4">
      <div class="container">
        <div class="cont90">
          <div class="columns container">
            <div class="column-3"></div>
            <div class="column mobile" id="products-section-4-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-thm.png" alt="">
            </div>
            <div class="column-2 justify-content-center flex-columns">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/logo-cintiq-white.png" alt="" id="wacom-cintiq-pro-logo">
              <TextCard
                title="Criatividade em formato grande"
                copy=""
                p1="Permita que seus estudantes aprofundem os detalhes de aquilo que estejam pintando, esculpindo ou animando. Os monitores interativos Wacom Cintiq expandem o espaço criativo com telas de formato grande, alta definição e suporte multitoque."
                p2="A experiência intuitiva de trabalhar diretamente sobre a tela  com a caneta Wacom sensível à pressão aproxima seus estudantes ao trabalho e à possibilidade de adquirir as habilidades profissionais que vão precisar amanhã."
                ctaTitle=""
                ctaUrl=""
                uniqueId="" />
                <span @click="toggle_product('cintiq')" class="cta-right">{{!cintiq ? 'Conheça mais' : 'Fechar'}} <i :class="!cintiq ? 'icon-angle-right down' : 'icon-angle-right up'"></i></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 4 -->

    <!-- Product Toggle -->
    <section class="product-card" v-show="cintiq" id="product-card-cintiq">
      <img src="http://contentz.mkt5510.com/lp/14182/95764/section-close-btn-blk.png" class="close-product" alt="" @click="toggle_product('cintiq')">
      <div class="cont50">
        <div class="columns">
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-feat-1.png" alt="" class="img-full">
            <h4>Cintiq 22HD Touch</h4>
            <span>1920 x 1080px<br>Adobe® RGB 87%<br>Wacom Pro Pen</span>
            <p>Área de trabalho ampla, stand rotativo e abundantes ferramentas de produtividade.</p>
            <a href="https://www.youtube.com/watch?v=8E_Mv-uKPwc" class="cta mobile">VEJA O VÍDEO</a>
          </div>
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-feat-2.png" alt="" class="img-full">
            <h4>Cintiq 27QHD Touch</h4>
            <span>2560 x 1440px<br>Adobe® RGB 97%<br>Wacom Pro Pen</span>
            <p>Área de trabalho em vidro de borda a borda para permitir traços de caneta amplos e audaciosos, além de obra de arte em formato grande com desempenho de cor com fidelidade real.</p>
            <a href="https://www.youtube.com/watch?v=0LG-3h7QrG8" class="cta mobile">VEJA O VÍDEO</a>
          </div>
        </div>
        <div class="columns desktop-flexbox">
          <div class="column">
            <a href="https://www.youtube.com/watch?v=8E_Mv-uKPwc" class="cta">VEJA O VÍDEO</a>
          </div>
          <div class="column">
            <a href="https://www.youtube.com/watch?v=0LG-3h7QrG8" class="cta">VEJA O VÍDEO</a>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 5 -->
    <section id="products-section-5">
      <div class="container">
        <div class="cont90">
          <div class="columns container">
            <div class="column align-items-center justify-content-center mobile" id="products-section-5-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/products-intuos-pro-img.jpg" alt="Wacom Tablet" class="img-full margin-left">
            </div>
            <div class="column justify-content-center flex-columns">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/logo-intuos-pro.png" alt="" id="wacom-intuospro-pro-logo">
              <TextCard
                title="Auto-expressão digital "
                copy=""
                p1="Introduza seus estudantes na arte digital com uma mesa gráfica de criação profissional com capacidades multitoque. A Wacom Intuos Pro proporciona  a seus estudantes o controle criativo natural enquanto ilustram, editam ou projetam digitalmente em 3D."
                p2="A conectividade Bluetooth integrada facilita a configuração, enquanto a impressionante sensibilidade à pressão da nova Wacom Pro Pen 2 aproxima os estudantes ao seu trabalho. Com o reduzido espaço que ocupa na mesa e os materiais de alta qualidade que resistem o uso repetido, a Intuos Pro permite a seus estudantes experimentar e expressar sua criatividade sem limitações."
                ctaTitle=""
                ctaUrl=""
                uniqueId="" />
                <span @click="toggle_product('intuos')" class="cta-right-blue">{{!intuos ? 'Conheça mais' : 'Fechar'}} <i :class="!intuos ? 'icon-angle-right down' : 'icon-angle-right up'"></i></span>
            </div>
            <div class="column align-items-center justify-content-center desktop">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/products-intuos-pro-img.jpg" alt="Wacom Tablet" class="img-full margin-left" id="wacom-intuospro-pro-img">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 5 -->

    <!-- Product Toggle -->
    <section class="product-card" v-show="intuos" id="product-card-intuos">
      <img src="http://contentz.mkt5510.com/lp/14182/95764/section-close-btn-blk.png" class="close-product" alt="" @click="toggle_product('intuos')">
      <div class="cont50">
        <div class="columns">
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/intuos-pro-feat-1.png" alt="" class="img-full">
            <h4>Wacom Intuos Pro</h4>
            <p>Wacom Pro Pen 2<br>8.192 níveis de pressão da caneta<br>8 ExpressKeys™<br>Conectividade Bluetooth integrada</p>
            <a href="https://www.youtube.com/watch?v=hD2o9wpx7CY" class="cta mobile">VEJA O VÍDEO</a>
          </div>
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/intuos-pro-feat-2.png" alt="" class="img-full">
            <h4>Wacom Intuos Paper Edition</h4>
            <p>Wacom Pro Pen 2<br>8.192 níveis de pressão da caneta<br>8 ExpressKeys™<br>Conectividade Bluetooth integrada Wacom Finetip Pen Paper Clip<br>Folhas de papel A4 e tamanho carta Estojo macio para acessórios</p>
            <a href="https://www.youtube.com/watch?v=9C4lgFeybmA" class="cta mobile">VEJA O VÍDEO</a>
          </div>
        </div>
        <div class="columns desktop-flexbox">
          <div class="column">
            <a href="https://www.youtube.com/watch?v=hD2o9wpx7CY" class="cta">VEJA O VÍDEO</a>
          </div>
          <div class="column">
            <a href="https://www.youtube.com/watch?v=9C4lgFeybmA" class="cta">VEJA O VÍDEO</a>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>

<script>

import TextCard from '~/components/Elements/TextCard.vue';
import ProductCard from '~/components/Elements/ProductCard.vue';

export default {
  layout: 'pt',
  data() {
    return {
      mobileStudioPro: false,
      cintiqPro: false,
      cintiq: false,
      intuos: false,
    };
  },
  components: {
    TextCard,
    ProductCard,
  },
  methods: {
    toggle_product(product) {
      if (product=='mobileStudioPro') {
        this.mobileStudioPro = !this.mobileStudioPro;
      } else if (product=='cintiqPro') {
        this.cintiqPro = !this.cintiqPro;
      } else if (product=='cintiq') {
        this.cintiq = !this.cintiq;
      } else if (product=='intuos') {
        this.intuos = !this.intuos;
      }
    },
  },
};
</script>

<style lang="scss">
  .cta {
    display: block;
    width: 100%;
    margin: 30px auto;
    color: white;
    background-color: #00A8DD;
    font-weight: bold;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    &:hover {
      background-color: #33709F;
    }
  }
  #products-section-1 {
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/products-intro-bg.jpg");
    background-size: cover;
    padding: 180px 0;
    #products-section-1-img {
      background: white url("http://contentz.mkt5510.com/lp/14182/95764/images/products-intro-bg.jpg") no-repeat right center/180%;
    }
  }
  #products-section-2 {
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/products-mobile-studio-bg.jpg");
    background-size: cover;
    padding: 50px 0;
    h1, p, a {
      color: #fff!important;
    }
    #wacom-mobilestudio-pro-img {
      margin: 0 60px;
    }
    #wacom-mobilestudio-pro-logo {
      width: 250px;
      margin-bottom: 20px;
    }
  }
  #products-section-3 {
    padding: 80px 0;
    #wacom-contiqpro-pro-logo {
      width: 200px;
      margin-bottom: 20px;
    }
  }
  #products-section-4 {
    padding: 50px 0;
    background: #5a040a url("http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-bg.jpg") no-repeat right top/cover;
    h1, p, a {
      color: #fff!important;
    }
    #wacom-cintiq-pro-logo {
      width: 180px;
      margin-bottom: 20px;
    }
  }
  #products-section-5 {
    padding: 100px 0;
    #wacom-intuospro-pro-logo {
      width: 180px;
      margin-bottom: 20px;
    }
  }

  .product-card {
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/shadow-top@2x.png"), url("http://contentz.mkt5510.com/lp/14182/95764/images/shadow-bottom@2x.png");
    background-position: center top, center bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    background-color: #EDEEF0;
    position: relative;
    padding: 80px 0;
    .columns {
      .column {
        display: block;
        text-align: center;
        margin: 0 20px;
      }
    }
    h4 {
      font-size: 22px;
      font-weight: 300;
    }
    .close-product {
      position: absolute;
      right: 30px;
      top: 30px;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
    span {
      font-size: 13px;
    }
  }

  .cta-right {
    color: #fff;
  }

  .cta-right-blue {
    color: #00A8DD;
  }

  .cta-right,
  .cta-right-blue {
    width: auto;

    background-color: transparent;
    font-size: 18px;
    font-weight: 300;
    padding-left: 0;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    i {
      display: inline-block;
      font-size: 20px;
      position: relative;
      top: 2px;
      padding: 0 6px 1px 7px;
      border-radius: 50%;
      border: 1px solid #00A8DD;
    }
    i.down {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    i.up {
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
    }
  }

  #product-card-cintiq-pro {
    .columns {
      flex-wrap: wrap;
      .column {
        width: calc(100% / 3);
        box-sizing: border-box;
      }
    }
  }

  @media (max-width: 768px) {
    #products-section-1 {
      padding: 0;
      background: none;
      margin-bottom: 50px;
    }
    #products-section-2 {
      background: #091ab3 url("http://contentz.mkt5510.com/lp/14182/95764/images/products-mobile-studio-bg.jpg") no-repeat right top/cover;
      #wacom-mobilestudio-pro-img {
        width: 230px!important;
        height: 230px!important;
        margin-bottom: 30px;
      }
      #wacom-mobilestudio-pro-logo {
        width: 180px;
      }
      p {
        font-weight: 100;
      }
    }
    #products-section-3-img {
      text-align: center;
      img {
        width: 250px!important;
      }
    }
    #products-section-3 {
      #wacom-contiqpro-pro-logo {
        width: 150px;
      }
    }
    #products-section-4 {
      padding: 50px 0;
      background: #5a040a url("http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-bg.jpg") no-repeat right top/cover;
      #products-section-4-img {
        text-align: center;
        img {
          width: 250px!important;
          height: 250px!important;
        }
      }
      #wacom-cintiq-pro-logo {
        width: 140px!important;
      }
    }
    #products-section-5 {
      #products-section-5-img {
        text-align: center;
        margin-bottom: 20px;
        img {
          width: 250px!important;
        }
      }
    }
    .product-card {
      .column {
        margin-bottom: 30px!important;
        width: 90%!important;
        margin-left:auto!important;
        margin-right: auto!important;
      }
    }
  }

</style>
