<template>
  <div>

    <!-- THE HEADER -->
    <TheHeader />

    <main id="main-content">

      <!-- MAIN CONTENT -->
      <nuxt/>

      <button id="scrolltop" @click="scrollTop()"><i class="icon-chevron-up"></i></button>
      <button id="get-in-touch" @click="scrollBottom()">Get In Touch</button>

      <!-- FOOTER -->
      <TheFooter />

    </main>

  </div>
</template>

<script>

import TheHeader from '~/components/TheHeader/TheHeader.vue';
import TheFooter from '~/components/TheFooter/TheFooter.vue';

export default {
  components: {
    TheHeader,
    TheFooter,
  },
  methods: {
    scrollTop() {
      window.scroll({top: 0, left: 0, behavior: 'smooth' });
    },
    scrollBottom() {
      window.scroll({
        top: 100000,
        left: 0,
        behavior: 'smooth'
      });
    }
  }
};
</script>

<style lang="scss">
</style>
