<template>
  <div>

    <!-- THE HEADER -->
    <TheHeaderEs />

    <main id="main-content">

      <!-- MAIN CONTENT -->
      <nuxt/>

      <button id="scrolltop" @click="scrollTop()"><i class="icon-chevron-up"></i></button>
      <button id="get-in-touch" @click="scrollBottom()">Get In Touch</button>


      <!-- FOOTER -->
      <TheFooterEs />

    </main>

  </div>
</template>

<script>

import TheHeaderEs from '~/components/TheHeader/TheHeaderEs.vue';
import TheFooterEs from '~/components/TheFooter/TheFooterEs.vue';

export default {
  components: {
    TheHeaderEs,
    TheFooterEs,
  },
  methods: {
    scrollTop() {
      window.scroll({top: 0, left: 0, behavior: 'smooth' });
    },
    scrollBottom() {
      window.scroll({
        top: 100000,
        left: 0,
        behavior: 'smooth'
      });
    }
  }
};
</script>

<style lang="scss">
#main-content {
  overflow: hidden;
  margin: 0;
  margin-top: 72px;
  width: 100%;
  padding: 0;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}
#scrolltop {
  background-color: #00A8DD;
  border: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  i {
    font-size: 20px;
    display: inline-block;
  }
  &:hover {
    background-color: #406E9C;
  }
}
#get-in-touch {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 200;
  border: none;
  background-color: #00A8DD;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 12px 35px;
  border-top-left-radius: 5px;
  cursor: pointer;
  border-top-right-radius: 5px;
  &:hover {
    background-color: #406E9C;
  }
}
@media (max-width: 768px) {
  #main-content {
    margin-top: 57px;
  }
}
@media (max-width: 992px) {
  #main-content {
    margin-top: 125px;
  }
}
@media (min-width: 993px) {
  #main-content {
    margin-top: 72px;
  }
}
@media (max-width: 1400px) {
  #main-content {
    width: 100%;
  }
}
@media (min-width: 1401px) {
  #main-content {
    width: 1400px;
    margin: auto;
    margin-top: 72px;
  }
}
</style>
