<template>
  <div>

    <!-- THE HEADER -->
    <TheHeaderPt />

    <main id="main-content">

      <!-- MAIN CONTENT -->
      <nuxt/>

      <button id="scrolltop" @click="scrollTop()"><i class="icon-chevron-up"></i></button>
      <button id="get-in-touch" @click="scrollBottom()">Get In Touch</button>


      <!-- FOOTER -->
      <TheFooterPt />

    </main>

  </div>
</template>

<script>

import TheHeaderPt from '~/components/TheHeader/TheHeaderPt.vue';
import TheFooterPt from '~/components/TheFooter/TheFooterPt.vue';

export default {
  components: {
    TheHeaderPt,
    TheFooterPt,
  },
  methods: {
    scrollTop() {
      window.scroll({top: 0, left: 0, behavior: 'smooth' });
    },
    scrollBottom() {
      window.scroll({
        top: 100000,
        left: 0,
        behavior: 'smooth'
      });
    }
  }
};
</script>

<style lang="scss">
</style>
