<template lang="html">
  <div class="container">


    <!-- SECTION 1 -->
    <section id="education-section-1">
      <div class="tablet cont-tablet">
        <img src="http://contentz.mkt5510.com/lp/14182/95764/images/benefits-intro-img.png" id="education-section-1-img" alt="Wacom Tablet">
      </div>
      <div class="cont90">
        <div class="columns container">
          <div class="column-4 align-items-center dekstop-tablet" id="edu-tablet-1">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/benefits-intro-img.png" id="education-wacom-tablet" alt="Wacom Tablet">
          </div>
          <div class="column-3 align-items-center">
            <TextCard
              title="Give your students the tools to unleash their creative potential"
              copy=""
              p1="Wacom's pen computers, displays and tablets bring self-expression to a new level that's seamless, efficient and alive with creativity. Rather than seeking to replace the time-tested fundamentals of art and design, the pressure-sensitive technology is designed to help students to take their skills even further."
              p2="By combining the feel of using traditional media with the advantages of an all-digital workflow, Wacom products are more responsive and accurate. Natural tilt support makes the pen an extension of the hand, with no parallax and virtually no lag. Programmable shortcuts yield easy access to the most frequently used commands. And color-accurate displays let students really get into the details of whatever they're painting, sculpting or animating."
              ctaTitle=""
              ctaUrl=""
              uniqueId="text-card-first-fold" />
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 1 -->

    <!-- SECTION 2 -->
    <section id="education-section-2">
      <div class="cont90">
        <div class="columns container">
          <div class="column align-items-center mobile">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/benefits-quote-thm.jpg" alt="Art Wacom" id="education-section-2-img" class="img-full">
          </div>
          <div class="column-3 align-items-center margin-right-small">
            <Testimony
              testimony="“The quality of students’ work jumped at least 10–15 percent because they're on the Cintiqs all the time, they are more efficient and they are using color more…”"
              author="Don Perro"
              position="Program Coordinator, Commercial Animation"
              work="Capilano University"
              video="https://www.youtube.com/watch?v=Q57G1iydFuk"
              uniqueId="testimony-welcome" />
          </div>
          <div class="column align-items-center desktop">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/benefits-quote-thm.jpg" alt="Art Wacom" class="img-full">
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 2 -->

    <!-- SECTION 3 -->
    <section id="education-section-3">

      <!-- ABOVE SECTION -->
      <div class="container">
        <div class="cont90">
          <div class="container columns">
            <div class="column mobile" id="education-section-3-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/benefits-jumpstart-img.png" alt="Wacom Tablets" class="img-full">
            </div>
            <div class="column margin-right-small">
              <TextCard
                title="Jump-start your students' careers"
                copy=""
                p1="Wacom is solely focused on developing solutions that help make the world a more creative place. That's why the leading studios and agencies have relied on the technology for more than 30 years to create amazing and award-winning work. These are the employers bringing in graduates from programs like yours, with expectations that their new hires are flexible, efficient and capable of contributing from their first day on the job."
                p2="By training your students on the tools that today's creative professionals trust, you'll prepare them to enter the workforce a step ahead—with job-winning portfolios and the skills to successfully compete in the real world."
                ctaTitle=""
                ctaUrl=""
                uniqueId="text-card-first-fold" />
            </div>
            <div class="column desktop">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/benefits-jumpstart-img.png" alt="Wacom Tablets" class="img-full">
            </div>
          </div>
        </div>
      </div>
      <!-- END ABOVE SECTION -->

      <!-- SECTION BELOW -->
      <div class="container" id="education-section-3-below">
        <div class="cont90">
          <div class="container columns">

            <div class="column align-items-center justify-content-center" v-for="(imgCard, index) in img_cards" :key="index">
              <ImgCard
                :img="imgCard.img"
                :imgAlt="imgCard.imgAlt"
                :copy="imgCard.copy"
                :ctaTitle="imgCard.ctaTitle"
                :type="imgCard.type"
                :action_url="imgCard.action_url"
                :catUrl="imgCard.catUrl" />
            </div>

          </div>
        </div>
      </div>

    </section>
    <!-- END SECTION 3 -->

    <!-- SECTION 4 -->
    <section id="education-section-4">
      <div class="container">
        <div class="cont90">
          <div class="columns">
            <div class="column align-items-center" id="education-section-4-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/benefits-school-img.jpg" alt="Wacom Drawing">
            </div>
            <div class="column align-items-center">
              <TextCard
                title="Make your school stand out"
                copy=""
                p1="Today's art and design students are the first generation to have no memory of life before cell phones and the Internet. Most of them rely on digital media and devices to learn, work and play online. Inspiring them in the classroom means teaching them on their terms, on the tools that the leading creatives use in nearly every field."
                p2="Solidify your reputation as a leading creative institution by combining classic techniques with modern mediums to bring your curriculum into the digital age. With Wacom tools on campus, in the classroom and in the lab, you'll attract and retain the most progressive and ambitious students seeking schools that push boundaries and invest in the latest technology."
                p3="Ringling College pushes the boundaries of Illustration."
                ctaTitle="Watch a top school in action"
                ctaUrl="https://www.youtube.com/watch?v=2XvEzp4xLik"
                uniqueId="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 4 -->

    <!-- SECTION 5 -->
    <section id="education-section-5">
      <div class="cont70">
        <TextCard
          title="Your creative partner"
          copy="For more than three decades, the world's creative professionals have turned to Wacom to push the limits of digital art and design. So it's no surprise that the top art and design schools around trust Wacom products to prepare the next generation of talent for careers that will change the world. From ground-breaking digital pen technology to touch displays that set a new standard in resolution and color, Wacom understands the full creative workflow. Investing in Wacom means having a team dedicated to helping you find the most cost-effective solution for your school and being there for your staff with hands-on support. It also means opening the doors to a community of the most renowned creatives to inspire your students. Training students on tools the top creatives use."
          ctaTitle="Download the brochure"
          ctaUrl=""
          uniqueId="your-creative-partner" />
      </div>
    </section>
    <!-- END SECTION 5 -->

  </div>
</template>

<script>

import TextCard from '~/components/Elements/TextCard.vue';
import Testimony from '~/components/Elements/Testimony.vue';
import ImgCard from '~/components/Elements/ImgCard.vue';

export default {
  data() {
    return {
        img_cards: [
          {
            "img": "http://contentz.mkt5510.com/lp/14182/95764/images/school-asset-1.png",
            "imgAlt": "California schools build renowned education program.",
            "copy": "California schools build renowned education program.",
            "ctaTitle": "Watch the video",
            "type": "video",
            "action_url": "GltD2Sud4kM",
            "catUrl": "https://www.youtube.com/watch?v=GltD2Sud4kM"
          },
          {
            "img": "http://contentz.mkt5510.com/lp/14182/95764/images/school-asset-2.png",
            "imgAlt": "California schools build renowned education program.",
            "copy": "Leading animators use Wacom to innovate.",
            "ctaTitle": "Download the e-book",
            "type": "download",
            "action_url": "",
            "catUrl": ""
          },
          {
            "img": "http://contentz.mkt5510.com/lp/14182/95764/images/school-asset-3.png",
            "imgAlt": "California schools build renowned education program.",
            "copy": "Leading animators use Wacom to innovate.",
            "ctaTitle": "Watch the video",
            "type": "video",
            "action_url": "",
            "catUrl": "https://www.youtube.com/watch?v=ruAQQzmIu6I"
          },
          {
            "img": "http://contentz.mkt5510.com/lp/14182/95764/images/school-asset-4.png",
            "imgAlt": "California schools build renowned education program.",
            "copy": "Leading animators use Wacom to innovate.",
            "ctaTitle": "Watch the video",
            "type": "video",
            "action_url": "",
            "catUrl": "https://www.youtube.com/watch?v=d11xGL2mtdw"
          }
        ]
    };
  },
  components: {
    TextCard,
    Testimony,
    ImgCard,
  },
}
</script>

<style lang="scss">
 #education-section-1 {
   padding: 80px 0;
   background: white url("http://contentz.mkt5510.com/lp/14182/95764/images/benefits-intro-bg.jpg") no-repeat center/cover;
   #education-wacom-tablet {
     width: 60%;
     height: auto;
   }
   #education-section-1-img {
     width: 150px;
     height: 150px;
     margin: auto;
   }
   #edu-tablet-1 {
     display: flex;
     justify-content: flex-start!important;
     align-items: center!important;
   }
 }
 #education-section-2 {
   padding: 50px 0;
 }
 #education-section-3 {
   background-color: #EDEEF0;
   padding: 50px 0;
   #education-section-3-below {
     margin: 80px 0 20px 0;
     text-align: center!important;
     .column {
       margin: 0 30px;
     }
   }
   #education-section-3-img {
     text-align: center;
     img {
       width: 200px!important;
     }
   }
   .text-card p {
     font-size: 14px;
   }
 }
 #education-section-4 {
   padding: 80px 0;
 }
 #education-section-5 {
   text-align: center;
   margin: 20px 0 80px 0;
 }

@media (max-width: 992px) {
  .cont-mobile-big {
    text-align: center;
  }
  #education-section-1 {
    padding: 0!important;
    background: none;
    .cont-tablet {
      background: white url("http://contentz.mkt5510.com/lp/14182/95764/images/benefits-intro-bg.jpg") no-repeat left center/180%;
      margin-bottom: 20px;
      text-align: center;
    }
    p {
      font-size: 14px;
    }
  }
}
@media (max-width: 768px) {
  #education-section-2 {
    .column {
      text-align: center;
    }
    p {
      font-size: 18px;
    }
    span {
      font-size: 14px;
    }
    #education-section-2-img {
      width: 200px!important;
      height: 200px!important;
    }
  }
  #education-section-3 {
    padding: 30px 0;
    .img-card {
      margin-bottom: 40px;
      .img-hover {
        img {
          width: 150px!important;
          height: 150px!important;
        }
      }
      p {
        margin-bottom: 0;
      }
    }
  }
  #education-section-4 {
    padding: 30px 0;
    .text-card {
      p {
        font-size: 14px!important;
      }
    }
  }
  #education-section-4-img {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    img {
      width: 200px!important;
      height: 200px!important;
    }
  }
  #education-section-5 {
    margin-top: 50px;
    p {
      font-size: 14px;
    }
  }
}
</style>
