<template>
  <div class="container">

    <!-- FIRST SECTION -->
    <section id="section-first">
      <div class="cont-mobile" id="cont-mobile-section-first"></div>
      <div class="cont80">
        <div class="columns container" id="">
          <div class="column-3">
            <TextCardNuxtLink
              title="Drive creativity in the classroom"
              copy="Encourage your students to explore, experiment and express their creativity. With Wacom technology in education, you can expand their creative horizons while cultivating the critical-thinking and problem-solving skills they'll rely on for a lifetime."
              ctaTitle=""
              ctaUrl=""
              uniqueId="text-card-first-fold" />
          </div>
          <div class="column-4"></div>
        </div>
      </div>
    </section>
    <!-- END FIRST SECTION -->

    <!-- SECOND SECTION -->
    <section id="section-second">

        <div class="cont-mobile" id="cont-mobile-section-second"></div>

        <!-- TOP SECTION -->
        <div class="container" id="pen-background-right">
          <div class="cont90">
            <div class="columns container" id="">
              <div class="column">
                <TextCardNuxtLink
                  title="Prepare your students for successful careers"
                  copy=""
                  p1="Training students on the digital tools that the industry-leading studios and agencies use gives them a competitive edge. That's why thousands of colleges and universities around the world trust Wacom to help prepare their graduates for successful art and design careers."
                  p2="Wacom products give your students the freedom to master their passions, build world-class portfolios and develop the real-world skills employers expect."
                  ctaTitle="Tell me more"
                  ctaUrl="/educational-benefits"
                  uniqueId="text-card-second-section-welcome" />
              </div>
              <div class="column"></div>
            </div>
          </div>
        </div>


        <!-- BELOW SECTION -->
        <div class="container">
          <div class="cont90">
            <div class="columns" id="below-section-welcome-second">
              <div class="column align-items-center">
                <img src="http://contentz.mkt5510.com/lp/14182/95764/images/home-benefits-quote-img.png" alt="Person drawing with Wacom" id="person-drawing-with-wacom" class="img-full">
              </div>
              <div class="column-3 margin-left-small">
                <Testimony
                  testimony="“When I visited studios, I saw that the digital artists in those studios were using Wacom technology. I felt that our students ought to start on that technology from the first year, so by the time graduation came along, they were smooth, and it was part of their workflow, and they could walk into a studio and be effective from day one.”"
                  author="Rafael Goldchain"
                  position="Applied Photography Coordinator"
                  work="Sheridan College"
                  video=""
                  uniqueId="testimony-welcome" />
              </div>
            </div>
          </div>
        </div>

    </section>
    <!-- END SECOND SECTION -->

    <!-- SECTION 3 -->
    <section id="section-third">
      <div class="cont-mobile-big" id="cont-mobile-section-third"></div>
      <div class="cont90">
        <div class="container columns justify-content-center align-items-center">
          <div class="column">
            <TextCardNuxtLink
              title="Technology that fits right in"
              copy=""
              p1="Integrating new hardware with your existing infrastructure and software is no small task. Wacom products are designed to make the transition smooth with intuitive configuration and minimal maintenance."
              p2="Compatibility with the most widely used creative software programs and hardware, plug-and-play functionality and proven reliability are cornerstones in all of our products. Drivers are easy to image and keep current with convenient access on our website. Plus, our support staff is expert at assisting with the technical needs of our education customers, always available via phone, email and chat."
              ctaTitle="Get Started"
              ctaUrl="/it-integration"
              uniqueId="text-card-second-section-welcome" />
          </div>
          <div class="column"></div>
        </div>
      </div>
    </section>
    <!-- END SECTION 3 -->

    <!-- SECTION 4 -->
    <section id="section-fourth">
      <div class="cont90">
        <RowImgTextCard
          imgPosition="left"
          imgAsBackground="no"
          img="http://contentz.mkt5510.com/lp/14182/95764/images/product-thm.png"
          imgSize="default"
          imgAlt="Wacom Tablet"
          title="Create a world-class campus"
          copy=""
          p1="With Wacom products on campus, in the classroom and in the computer lab, you'll attract and retain today's top students—digital natives looking to express themselves naturally with state-of-the-art technology."
          p2="Whether they're drawn to animation, illustration, game design or other fields, your students can flex their creative muscles and reach their potential in ways they never thought possible with Wacom."
          ctaTitle="Get Started"
          ctaUrl="/it-integration"
          uniqueId="text-card-fourth-section-welcome"
          textCardUniqueId="" />
      </div>
    </section>
    <!-- END SECTION 4 -->

    <!-- SECTION 5 -->
    <section id="section-fifth">
      <div class="cont90">
        <div class="desktop">
          <RowImgTextCard
            imgPosition="right"
            imgAsBackground="no"
            img="http://contentz.mkt5510.com/lp/14182/95764/images/resources-img.jpg"
            imgSize="full"
            imgAlt="Resource library"
            title="Resource library"
            copy="Consult our collection of videos, e-books, case studies and testimonials to learn how Wacom is helping artists and designers everywhere make the world a more creative place."
            ctaTitle="Visit Library"
            ctaUrl="/resources"
            uniqueId="text-card-fifth-section-welcome"
            textCardUniqueId="fifth-section-welcome-copy" />
        </div>
        <div class="mobile">
          <RowImgTextCard
            imgPosition="left"
            imgAsBackground="no"
            img="http://contentz.mkt5510.com/lp/14182/95764/images/resources-img.jpg"
            imgSize="full"
            imgAlt="Resource library"
            title="Resource library"
            copy="Consult our collection of videos, e-books, case studies and testimonials to learn how Wacom is helping artists and designers everywhere make the world a more creative place."
            ctaTitle="Visit Library"
            ctaUrl="/resources"
            uniqueId="text-card-fifth-section-welcome"
            textCardUniqueId="fifth-section-welcome-copy" />
        </div>
      </div>
    </section>
    <!-- END SECTION 5 -->

  </div>
</template>

<script>

import TextCard from '~/components/Elements/TextCard.vue';
import TextCardNuxtLink from '~/components/Elements/TextCardNuxtLink.vue';
import Testimony from '~/components/Elements/Testimony.vue';
import RowImgTextCard from '~/components/Elements/RowImgTextCard.vue';

export default {
  components: {
    TextCard,
    Testimony,
    RowImgTextCard,
    TextCardNuxtLink,
  },
}
</script>

<style lang="scss">

  // First Section
  #section-first {
    width: 100%;
    padding: 170px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    #text-card-first-fold {
      h1 {
        font-size: 42px;
      }
    }
    #cont-mobile-section-first {
      background: white url("http://contentz.mkt5510.com/lp/14182/95764/images/hero-bg.jpg") no-repeat right center/150%;
    }
  }

  // Second Section
  #section-second {
    padding: 50px 0 90px 0;
    position: relative;
    width: 100%;
    display: block;
    background-color:#EDEEF0;
    margin: 0;
    #text-card-second-section-welcome {

    }
    #person-drawing-with-wacom {
      margin: auto;
    }
    #pen-background-right {
      margin-bottom: 50px;
      background: #EDEEF0 url("http://contentz.mkt5510.com/lp/14182/95764/images/pen-img.png") no-repeat right center/contain;
    }
    #below-section-welcome-second {
      justify-content: center;
      align-items: center;
    }
    #cont-mobile-section-second {
      background: #EDEEF0 url("http://contentz.mkt5510.com/lp/14182/95764/images/pen-img.png") no-repeat right top/auto 150px;
    }
  }

  // Third Section
  #section-third {
    padding: 100px 0 150px 0;
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/integration-bg.jpg");
    background-size: cover;
    background-position: center;
    #cont-mobile-section-third {
      height: 150px;
      background: white url("http://contentz.mkt5510.com/lp/14182/95764/images/integration-bg.jpg") no-repeat right center/80%;
    }
  }

  // Fourth Section
  #section-fourth {
      padding: 50px 0 80px 0;
  }

  // Section 5
  #section-fifth {
    padding: 50px 0 100px 0;
  }

  @media (max-width: 768px) {
    #section-first {
      padding: 0!important;
      background: none;
      .columns {
        padding: 10px 0;
      }
    }
    #section-second {
      padding: 0 0 20px 0!important;
      #pen-background-right {
        background: none;
      }
      .testimony {
        p {
          font-size: 18px;
        }
      }
    }
    #person-drawing-with-wacom {
      width: 250px!important;
      height: 250px!important;
      margin: auto;
    }
    #section-third {
      background: none;
      padding: 0!important;
      p {
        font-size: 14px;
      }
    }
    #section-fourth {
      padding-bottom: 0;
      img {
        width: 250px!important;
        height: 250px!important;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
      }
    }
    #section-fifth {
      img {
        width: 200px!important;
        height: 160px!important;
        margin-bottom: 20px;
      }
    }
  }

</style>
