<template lang="html">
  <div class="container">

    <!-- SECTION 1 -->
    <section id="it-section-1">
      <div class="tablet cont-tablet">
        <img src="http://contentz.mkt5510.com/lp/14182/95764/images/integration-intro-img.png" id="it-section-1-img" alt="Wacom Tablet">
      </div>
      <div class="cont90">
        <div class="columns container">
          <div class="column">
            <TextCard
              title="Easy integration"
              copy="We believe technology should accelerate learning. That's why Wacom products are engineered to interface effortlessly with your existing infrastructure—whether you're running Mac, Windows or Linux operating systems. The result: no awkward workarounds and minimal downtime. Our pen recognition and pressure-sensitive features are built into the most widely used creative software programs from companies such as Adobe, Autodesk, Corel, Pixologic and Toon Boom. IT staff will find it's easy to image the drivers across all your devices, and your students will have access to new levels of creativity and productivity using more advanced tools. Technology is front and center in interior design."
              ctaTitle="Watch the video"
              ctaUrl="https://www.youtube.com/watch?v=6p0A3GcCJzw"
              uniqueId="text-card-first-fold" />
          </div>
          <div class="column align-items-center justify-content-right dekstop-tablet" id="it-section-1-justify">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/integration-intro-img.png" id="it-wacom-tablet" alt="Wacom Tablet">
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 1 -->

    <!-- SECTION 2 -->
    <section id="it-section-2">
      <div class="container">
        <div class="cont90">
          <div class="columns container">
            <div class="column align-items-center justify-content-center" id="it-section-2-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/integration-built-to-last-img.png" alt="Wacom Tablet" class="img-full">
            </div>
            <div class="column align-items-center justify-content-center">
              <TextCard
                title="Built to last"
                copy="For more than three decades, Wacom has been the go-to choice for creative professionals who need tried and tested technology to support their demanding workflow. Your faculty and students deserve the same level of endurance—support they can count on for uninterrupted, reliable instruction. Wacom's pen computers, displays and tablets deliver. They're built to withstand the wear and tear that comes from repetitive use, continuous pressure and endless hours of experimentation and rework. That means less time fussing with technology and more time creating. Graphic artists exercise creative license with Wacom."
                ctaTitle="Watch the video"
                ctaUrl="https://www.youtube.com/watch?v=WzuXZr16Bbw"
                uniqueId="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 2 -->

    <!-- SECTION 3 -->
    <section id="it-section-3">
      <div class="container">
        <div class="cont90">
          <div class="columns" id="it-section-3-container-1">
            <div class="column align-items-center justify-content-center mobile" id="it-section-3-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/intetration-flexibility-img.png" alt="Wacom Pen" class="img-full">
            </div>
            <div class="column-3 align-items-center justify-content-center">
              <TextCard
                title="Flexible and secure"
                copy="Your classrooms might have limited desktop space, or your faculty may want to move devices around, lend them out to students or use them in a collaborative space. Wacom products can accommodate a variety of dynamic teaching scenarios, with a selection of sizes, mobility features and proven sturdiness. Students can work comfortably and for long periods of time thanks to the ergonomic design of the pen, with its flared barrel and conveniently located programmable buttons, plus a variety of other features, from adjustable stands to multi-touch capabilities. And to keep products extra secure in every setting, all products can be locked—with most featuring built-in slots for Kensington locks. 5 tips to upgrade your creative lab."
                ctaTitle="Download the e-book"
                ctaUrl=""
                uniqueId="it-section-3-text-1" />
            </div>
            <div class="column align-items-center justify-content-center desktop">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/intetration-flexibility-img.png" alt="Wacom Pen" class="img-full">
            </div>
          </div>
          <div class="columns" id="it-section-3-container-2">
            <div class="column align-items-center justify-content-center" id="it-section-3-img-2">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/integration-comprehensive-img.png" alt="Wacom Pen" class="img-full">
            </div>
            <div class="column-3 align-items-center justify-content-center">
              <TextCard
                title="Comprehensive support"
                copy="Wacom backs up every product with world-class technical support and expert customer service. Whether you need help setting up products and drivers, tutorials on how to use the features or troubleshooting tips, we'll guide you through every step. Assistance is just a phone call, email or chat away. That includes product repair and/or replacement during warranty—a process we've made fast and easy. In other words, we want to ensure that your new technology investment is properly deployed so faculty and students can leverage its full potential."
                ctaTitle=""
                ctaUrl=""
                uniqueId="it-section-3-text-2" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 3 -->

  </div>
</template>

<script>

import TextCard from '~/components/Elements/TextCard.vue';

export default {
  components: {
    TextCard,
  },
};
</script>

<style lang="scss">
  #it-section-1 {
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/integration-intro-bg.jpg");
    background-size: cover;
    padding: 100px 0;
    #it-wacom-tablet {
      width: 60%;
      height: auto;
    }
    #it-section-1-img {
      width: 150px;
      height: 150px;
      margin: auto;
    }
    #it-section-1-justify {
      display: flex;
      justify-content: flex-end;
    }
  }
  #it-section-2 {
    background-color: #EDEEF0;
    padding: 80px 0;
  }
  #it-section-3 {
    #it-section-3-text-1 {
      margin-right: 70px;
    }
    #it-section-3-text-2 {
      margin-left: 70px;
    }
    .columns {
      margin: 80px 0;
    }
  }
  @media (max-width: 992px) {
    .cont-mobile-big {
      text-align: center;
    }
    #it-section-1 {
      margin-bottom: 50px;
      padding: 0!important;
      background: none;
      .cont-tablet {
        background: white url("http://contentz.mkt5510.com/lp/14182/95764/images/integration-intro-bg.jpg") no-repeat right center/180%;
        margin-bottom: 20px;
        text-align: center;
      }
      p {
        font-size: 14px;
      }
    }
    #it-section-2 {
      padding: 30px 0;
      p {
        font-size: 14px;
      }
    }
    #it-section-2-img {
      text-align: center!important;
      img {
        width: 200px!important;
      }
    }
    #it-section-3 {
      padding: 50px 0;
      p {
        font-size: 14px;
        line-height: 1.7em;
        font-weight: 300;
        color: black;
        margin: 10px 0;
      }
      #it-section-3-text-2 {
        margin-left: 0px;
        margin-top: 20px;
      }
      #it-section-3-container-1,
      #it-section-3-container-2 {
        margin: 0;
      }
      #it-section-3-container-1 {
        margin-bottom: 50px;
      }
    }
    #it-section-3-img,
    #it-section-3-img-2 {
      text-align: center!important;
      img {
        width: 200px!important;
      }
    }
  }
</style>
