<template lang="html">
  <div class="container">

    <!-- SECTION 1 -->
    <section id="products-section-1">
      <div class="cont-mobile" id="products-section-1-img"></div>
      <div class="cont90">
        <div class="columns container">
          <div class="column">
            <TextCard
              title="Technology to create a world-class campus"
              copy="Set your school apart with the pen computers, displays and tablets that the top studios, agencies and creative professionals use. With Wacom on campus, you'll attract and retain the best students, ignite new levels of creativity, and prepare aspiring graduates for successful careers in art and design."
              ctaTitle=""
              ctaUrl=""
              uniqueId="text-card-first-fold" />
          </div>
          <div class="column"></div>
        </div>
      </div>
    </section>
    <!-- END SECTION 1 -->

    <!-- SECTION 2 -->
    <section id="products-section-2">
      <div class="container">
        <div class="cont90">
          <div class="columns container">
            <div class="column align-items-center justify-content-center">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/products-mobile-studio-img.png" alt="Wacom Tablet" class="img-full" id="wacom-mobilestudio-pro-img">
            </div>
            <div class="column justify-content-center flex-columns">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/logo-mobile-studio-pro.png" alt="" id="wacom-mobilestudio-pro-logo">
              <ProductCard
                title="Creative freedom in a powerful mobile studio"
                copy="Empower your students with the ultimate in creative freedom and pen-on-screen precision. Wacom MobileStudio Pro packs a whole studio of creative tools into a lightweight mobile pen computer featuring the Wacom Pro Pen 2. Powered by a full-featured Windows 10 computer, MobileStudio Pro is designed to handle serious workloads—from 2D and 3D creative assignments to standard coursework and portfolio development."
                ctaTitle=""
                ctaUrl=""
                uniqueId="" />
                <span @click="toggle_product('mobileStudioPro')" class="cta-right">{{!mobileStudioPro ? 'Show me more' : 'Close'}} <i :class="!mobileStudioPro ? 'icon-angle-right down' : 'icon-angle-right up'"></i></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 2 -->

    <!-- Product Toggle -->
    <section class="product-card" v-show="mobileStudioPro">
      <img src="http://contentz.mkt5510.com/lp/14182/95764/section-close-btn-blk.png" class="close-product" alt="" @click="toggle_product('mobileStudioPro')">
      <div class="cont50">
        <div class="columns">
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/mobile-studio-pro-feat-1.png" alt="" class="img-full">
            <h4>Wacom MobileStudio <br> Pro 13</h4>
            <p>Built for drawing, detailed concept art, 3D sculpting and painting, motion graphics and advanced image editing and retouching.</p>
          </div>
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/mobile-studio-pro-feat-2.png" alt="" class="img-full">
            <h4>Wacom MobileStudio <br> Pro 16</h4>
            <p>Maximum power for drawing, detailed concept art, 3D sculpting and painting, 3D CAD, motion graphics and advanced image editing and retouching.</p>
          </div>
        </div>
        <div class="container text-align-center">
          <a class="cta" target="_blank" href="https://www.youtube.com/watch?v=EzD48WkYvJs">WATCH THE VIDEO</a>
        </div>
      </div>
    </section>

    <!-- SECTION 3 -->
    <section id="products-section-3">
      <div class="container">
        <div class="cont90">
          <div class="columns container">
            <div class="column align-items-center justify-content-center mobile" id="products-section-3-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/products-cintiq-pro-img.jpg" alt="Wacom Tablet" class="img-full">
            </div>
            <div class="column justify-content-center flex-columns">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/logo-cintiq-pro.png" alt="" id="wacom-contiqpro-pro-logo">
              <TextCard
                title="Create directly on screen with our most natural pen experience"
                copy="Prepare your students for successful careers with the pen display that today's leading creative professionals use. With the Wacom Cintiq Pro, the pen becomes an extension of the hand so your students can create directly on screen naturally. Stunning color and resolution combined with the incredible sensitivity of the Wacom Pro Pen 2 and touch-screen capabilities give your students the most advanced pen-on-screen experience ever."
                ctaTitle=""
                ctaUrl=""
                uniqueId="" />
                <span @click="toggle_product('cintiqPro')" class="cta-right-blue">{{!cintiqPro ? 'Show me more' : 'Close'}} <i :class="!cintiqPro ? 'icon-angle-right down' : 'icon-angle-right up'"></i></span>
            </div>
            <div class="column align-items-center justify-content-center desktop">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/products-cintiq-pro-img.jpg" alt="Wacom Tablet" class="img-full" id="wacom-contiqpro-pro-img">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 3 -->

    <!-- Product Toggle -->
    <section class="product-card" v-show="cintiqPro" id="product-card-cintiq-pro">
      <img src="http://contentz.mkt5510.com/lp/14182/95764/section-close-btn-blk.png" class="close-product" alt="" @click="toggle_product('cintiqPro')">
      <div class="cont70">
        <div class="columns">
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/cintiq-pro-feat-3-img_0.png" alt="" class="img-full">
            <h4>Wacom Cintiq Pro 24</h4>
            <span>3840 x 2160px <br> Adobe® RGB 99% (CIE 1976) <br> Wacom Pro Pen 2 technology</span>
            <p>A large workspace with high color accuracy – ideal for 3D modeling, game development and animation.</p>
            <a href="https://www.youtube.com/watch?v=AC2ZkaHoDzM" class="cta mobile">WATCH THE VIDEO</a>
          </div>
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/cintiq-pro-feat-2-img.png" alt="" class="img-full">
            <h4>Wacom Cintiq Pro 16</h4>
            <span>3840 x 2160px <br> Adobe® RGB 94% (CIE 1976)<br>Wacom Pro Pen 2 technology</span>
            <p>A broader canvas with a more detailed display – ideal for painting and retouching.</p>
            <a href="https://www.youtube.com/watch?v=Dy1BQuqz9s4" class="cta mobile">WATCH THE VIDEO</a>
          </div>
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/cintiq-pro-feat-1-img.png" alt="" class="img-full">
            <h4>Wacom Cintiq Pro 13</h4>
            <span>1920 x 1080px<br>Adobe® RGB 87%<br>Wacom Pro Pen 2 technology </span>
            <p>A compact, more portable device – perfect for sketching and drawing.</p>
            <a href="https://www.youtube.com/watch?v=Dy1BQuqz9s4" class="cta mobile">WATCH THE VIDEO</a>
          </div>
        </div>
        <div class="columns desktop-flex">
          <div class="column">
            <a href="https://www.youtube.com/watch?v=AC2ZkaHoDzM" class="cta">WATCH THE VIDEO</a>
          </div>
          <div class="column">
            <a href="https://www.youtube.com/watch?v=Dy1BQuqz9s4" class="cta">WATCH THE VIDEO</a>
          </div>
          <div class="column">
            <a href="https://www.youtube.com/watch?v=Dy1BQuqz9s4" class="cta">WATCH THE VIDEO</a>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 4 -->
    <section id="products-section-4">
      <div class="container">
        <div class="cont90">
          <div class="columns container">
            <div class="column-3"></div>
            <div class="column mobile" id="products-section-4-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-thm.png" alt="">
            </div>
            <div class="column-2 justify-content-center flex-columns">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/logo-cintiq-white.png" alt="" id="wacom-cintiq-pro-logo">
              <TextCard
                title="Large-format creativity"
                copy="Let your students really dig into the details of whatever they're painting, sculpting or animating. The Wacom Cintiq pen displays expand the creative canvas with large-format, high-definition displays and multi-gesture support. The intuitive experience of working directly on screen with Wacom's pressure-sensitive pen brings your students closer to their work—and to acquiring the career-ready skills they'll need tomorrow."
                ctaTitle=""
                ctaUrl=""
                uniqueId="" />
                <span @click="toggle_product('cintiq')" class="cta-right">{{!cintiq ? 'Show me more' : 'Close'}} <i :class="!cintiq ? 'icon-angle-right down' : 'icon-angle-right up'"></i></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 4 -->

    <!-- Product Toggle -->
    <section class="product-card" v-show="cintiq" id="product-card-cintiq">
      <img src="http://contentz.mkt5510.com/lp/14182/95764/section-close-btn-blk.png" class="close-product" alt="" @click="toggle_product('cintiq')">
      <div class="cont50">
        <div class="columns">
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-feat-1.png" alt="" class="img-full">
            <h4>Cintiq 22HD Touch</h4>
            <span>1920 x 1080px<br>Adobe® RGB 87%<br>Wacom Pro Pen</span>
            <p>Ample working area, rotating stand, and plenty of productivity tools.</p>
            <a href="https://www.youtube.com/watch?v=8E_Mv-uKPwc" class="cta mobile">WATCH THE VIDEO</a>
          </div>
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-feat-2.png" alt="" class="img-full">
            <h4>Cintiq 27QHD Touch</h4>
            <span>2560 x 1440px<br>Adobe® RGB 97%<br>Wacom Pro Pen</span>
            <p>Edge-to-edge glass workspace for making broad, bold pen strokes and large format artwork with true-to-life color performance.</p>
            <a href="https://www.youtube.com/watch?v=0LG-3h7QrG8" class="cta mobile">WATCH THE VIDEO</a>
          </div>
        </div>
        <div class="columns desktop-flex">
          <div class="column">
            <a href="https://www.youtube.com/watch?v=8E_Mv-uKPwc" class="cta">WATCH THE VIDEO</a>
          </div>
          <div class="column">
            <a href="https://www.youtube.com/watch?v=0LG-3h7QrG8" class="cta">WATCH THE VIDEO</a>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION 5 -->
    <section id="products-section-5">
      <div class="container">
        <div class="cont90">
          <div class="columns container">
            <div class="column align-items-center justify-content-center mobile" id="products-section-5-img">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/products-intuos-pro-img.jpg" alt="Wacom Tablet" class="img-full margin-left">
            </div>
            <div class="column justify-content-center flex-columns">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/logo-intuos-pro.png" alt="" id="wacom-intuospro-pro-logo">
              <TextCard
                title="Digital self-expression"
                copy="Wacom Digital self-expression Introduce your students to digital art with a professional pen tablet with multi-touch capabilities. The Wacom Intuos Pro gives your students natural creative control while they illustrate, edit or design in 3D digitally. Built-in Bluetooth connectivity makes it easy to set up, while impressive pressure sensitivity in the new Wacom Pro Pen 2 brings students closer to their work. With compact footprints and high-quality materials that withstand repetitive use, the Intuos Pro allows your students to experiment and express their creativity without limits."
                ctaTitle=""
                ctaUrl=""
                uniqueId="" />
                <span @click="toggle_product('intuos')" class="cta-right-blue">{{!intuos ? 'Show me more' : 'Close'}} <i :class="!intuos ? 'icon-angle-right down' : 'icon-angle-right up'"></i></span>
            </div>
            <div class="column align-items-center justify-content-center desktop">
              <img src="http://contentz.mkt5510.com/lp/14182/95764/images/products-intuos-pro-img.jpg" alt="Wacom Tablet" class="img-full margin-left" id="wacom-intuospro-pro-img">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION 5 -->

    <!-- Product Toggle -->
    <section class="product-card" v-show="intuos" id="product-card-intuos">
      <img src="http://contentz.mkt5510.com/lp/14182/95764/section-close-btn-blk.png" class="close-product" alt="" @click="toggle_product('intuos')">
      <div class="cont50">
        <div class="columns">
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-feat-1.png" alt="" class="img-full">
            <h4>Wacom Intuos Pro</h4>
            <p>Wacom Pro Pen 2<br>8192 pen pressure levels<br>8 ExpressKeys™<br>Built-in Bluetooth connectivity</p>
            <a href="https://www.youtube.com/watch?v=hD2o9wpx7CY" class="cta mobile">WATCH THE VIDEO</a>
          </div>
          <div class="column align-items-center justify-content-center">
            <img src="http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-feat-2.png" alt="" class="img-full">
            <h4>Wacom Intuos Paper Edition</h4>
            <p>Wacom Pro Pen 2<br>8192 pen pressure levels<br>8 ExpressKeys™<br>Wacom Finetip Pen<br>Paper Clip<br>A4 paper sheets (letter size)<br>Accessory Soft Case</p>
            <a href="https://www.youtube.com/watch?v=9C4lgFeybmA" class="cta mobile">WATCH THE VIDEO</a>
          </div>
        </div>
        <div class="columns desktop-flex">
          <div class="column">
            <a href="https://www.youtube.com/watch?v=hD2o9wpx7CY" class="cta">WATCH THE VIDEO</a>
          </div>
          <div class="column">
            <a href="https://www.youtube.com/watch?v=9C4lgFeybmA" class="cta">WATCH THE VIDEO</a>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>

<script>

import TextCard from '~/components/Elements/TextCard.vue';
import ProductCard from '~/components/Elements/ProductCard.vue';

export default {
  data() {
    return {
      mobileStudioPro: false,
      cintiqPro: false,
      cintiq: false,
      intuos: false,
    };
  },
  components: {
    TextCard,
    ProductCard,
  },
  methods: {
    toggle_product(product) {
      if (product=='mobileStudioPro') {
        this.mobileStudioPro = !this.mobileStudioPro;
      } else if (product=='cintiqPro') {
        this.cintiqPro = !this.cintiqPro;
      } else if (product=='cintiq') {
        this.cintiq = !this.cintiq;
      } else if (product=='intuos') {
        this.intuos = !this.intuos;
      }
    },
  },
};
</script>

<style lang="scss">
  .cta {
    display: block;
    width: 100%;
    margin: 30px auto;
    color: white;
    background-color: #00A8DD;
    font-weight: bold;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    &:hover {
      background-color: #33709F;
    }
  }
  #products-section-1 {
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/products-intro-bg.jpg");
    background-size: cover;
    padding: 180px 0;
    #products-section-1-img {
      background: white url("http://contentz.mkt5510.com/lp/14182/95764/images/products-intro-bg.jpg") no-repeat right center/180%;
    }
  }
  #products-section-2 {
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/products-mobile-studio-bg.jpg");
    background-size: cover;
    padding: 50px 0;
    h1, p, a {
      color: #fff!important;
    }
    #wacom-mobilestudio-pro-img {
      margin: 0 60px;
    }
    #wacom-mobilestudio-pro-logo {
      width: 250px;
      margin-bottom: 20px;
    }
  }
  #products-section-3 {
    padding: 80px 0;
    #wacom-contiqpro-pro-logo {
      width: 200px;
      margin-bottom: 20px;
    }
  }
  #products-section-4 {
    padding: 100px 0;
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-bg.jpg");
    background-size: cover;
    h1, p, a {
      color: #fff!important;
    }
    #wacom-cintiq-pro-logo {
      width: 180px;
      margin-bottom: 20px;
    }
  }
  #products-section-5 {
    padding: 100px 0;
    #wacom-intuospro-pro-logo {
      width: 180px;
      margin-bottom: 20px;
    }
  }

  .product-card {
    background-image: url("http://contentz.mkt5510.com/lp/14182/95764/images/shadow-top@2x.png"), url("http://contentz.mkt5510.com/lp/14182/95764/images/shadow-bottom@2x.png");
    background-position: center top, center bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    background-color: #EDEEF0;
    position: relative;
    padding: 80px 0;
    .columns {
      .column {
        display: block;
        text-align: center;
        margin: 0 20px;
      }
    }
    h4 {
      font-size: 22px;
      font-weight: 300;
    }
    .close-product {
      position: absolute;
      right: 30px;
      top: 30px;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
    span {
      font-size: 13px;
    }
  }

  .cta-right {
    color: #fff;
  }

  .cta-right-blue {
    color: #00A8DD;
  }

  .cta-right,
  .cta-right-blue {
    width: auto;

    background-color: transparent;
    font-size: 18px;
    font-weight: 300;
    padding-left: 0;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    i {
      display: inline-block;
      font-size: 20px;
      position: relative;
      top: 2px;
      padding: 0 6px 1px 7px;
      border-radius: 50%;
      border: 1px solid #00A8DD;
    }
    i.down {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    i.up {
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
    }
  }

  #product-card-cintiq-pro {
    .columns {
      flex-wrap: wrap;
      .column {
        width: calc(100% / 3);
        box-sizing: border-box;
      }
    }
  }

  @media (max-width: 768px) {
    #products-section-1 {
      padding: 0;
      background: none;
      margin-bottom: 50px;
    }
    #products-section-2 {
      background: #091ab3 url("http://contentz.mkt5510.com/lp/14182/95764/images/products-mobile-studio-bg.jpg") no-repeat right top/cover;
      #wacom-mobilestudio-pro-img {
        width: 230px!important;
        height: 230px!important;
        margin-bottom: 30px;
      }
      #wacom-mobilestudio-pro-logo {
        width: 180px;
      }
      p {
        font-weight: 100;
      }
    }
    #products-section-3-img {
      text-align: center;
      img {
        width: 250px!important;
      }
    }
    #products-section-3 {
      #wacom-contiqpro-pro-logo {
        width: 150px;
      }
    }
    #products-section-4 {
      padding: 50px 0;
      background: #5a040a url("http://contentz.mkt5510.com/lp/14182/95764/images/cintiq-bg.jpg") no-repeat right top/cover;
      #products-section-4-img {
        text-align: center;
        img {
          width: 250px!important;
          height: 250px!important;
        }
      }
      #wacom-cintiq-pro-logo {
        width: 140px!important;
      }
    }
    #products-section-5 {
      #products-section-5-img {
        text-align: center;
        margin-bottom: 20px;
        img {
          width: 250px!important;
        }
      }
    }
    .product-card {
      .column {
        margin-bottom: 30px!important;
        width: 90%!important;
        margin-left:auto!important;
        margin-right: auto!important;
      }
    }
  }

</style>
